<div id="carousel-{{ page.title | slugify }}" class="carousel slide carousel-fade" data-ride="carousel" data-interval="7000">
  <!-- Indicators -->
  
  <ol class="carousel-indicators">
    {% for object in page.carousel_slides %}
      <li data-target="#carousel-{{ page.title | slugify }}" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  
  <div class="carousel-inner" role="listbox">
    {% for object in page.carousel_slides %}
    <div class="item {% if forloop.first %}active{% endif %}" style="background-image: url({{ object.slide_image }})">
      <div class="carousel-caption animated fadeIn">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-10">
              <div class="content animated fadeInRight">
                <h1>{{ object.title_html }}</h1>
                <h2>{{ object.subtitle }}</h2>
                <p>{{ object.summary | truncate: 100 }}</p>
                <a href="{{ object.link }}" class="animated fadeIn read-more">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- <div class="item" style="background-image: url(https://unsplash.it/1800/600?image=1015)">
      <div class="carousel-caption animated fadeIn">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-10">
              <div class="content animated fadeInRight">
                <h1>&ldquo;There was no disruption to our institutional day<br>(In fact test scores improved).&rdquo;</h1>
                <h2>Abe Lincoln Elementary</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, rerum labore doloremque ratione Lorem ipsum dolor</p>
                <a href="{{ project.url }}" class="animated fadeIn read-more">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item" style="background-image: url(https://unsplash.it/1800/600?image=1016)">
      <div class="carousel-caption animated">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-10">
              <div class="content animated fadeInRight">
                <h1>&ldquo;There was no disruption to our institutional day<br>(In fact test scores improved).&rdquo;</h1>
                <h2>Abe Lincoln Elementary</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, rerum labore doloremque ratione Lorem ipsum dolor</p>
                <a href="{{ project.url }}" class="animated fadeIn read-more">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>

