{% if page.carousel_images != nil %}
<section>
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
            <div id="carousel-event" class="carousel slide carousel-fade" data-ride="carousel" data-interval="7000">
              <!-- Indicators -->
              {% assign num_slides = page.carousel_images | size %}
              {% unless num_slides == 1 %}
              <ol class="carousel-indicators">
                {% for image in page.carousel_images %}
                <li data-target="#carousel-event" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                {% endfor %}
              </ol>
              {% endunless %}
              <div class="carousel-inner" role="listbox">
                {% for image in page.carousel_images %}
                <div class="item {% if forloop.first %}active{% endif %}" style="background-image: url({{ image.image }})">
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
      </div>
  </div>
</section>
{% endif %}