<div class="slick-slider">
  {% for event in site.community_events %}
  {% unless event.url == page.url %}
  <div class="slick-slide">
    <div class="slide-image" style="background-image: url({{ event.image }})"></div>
    <h4>{{ event.title }}</h4>
    {{ event.content | truncatewords: 20 }}
    <a href="{{ event.url }}" class="read-more">Read More</a>
  </div>
  {% endunless %}
  {% endfor %}
</div>