<div id="carousel-testimonials" class="carousel slide carousel-fade" data-ride="carousel" data-interval="7000">
  <!-- Indicators -->
  
  <ol class="carousel-indicators">
    {% for object in page.testimonial_slides %}
      <li data-target="#carousel-testimonials" data-slide-to="{% increment %}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  
  <div class="carousel-inner" role="listbox">
    {% for object in page.testimonial_slides %}
    <div class="item {% if forloop.first %}active{% endif %}" style="background-image: url({{ object.slide_image }})">
      <div class="carousel-caption animated fadeIn">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-4">
              <div class="content animated fadeInRight">
                <blockquote>&ldquo; {{ object.testimonial }} &rdquo;
                  {% if object.author %}
                    <small> {{ object.author }}</small>
                  {% endif %}
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

