<section id="community-events">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content editable">
          <h1>Community Events</h1>
          <p>Other community events and volunteer opportunities the Blinderman team is involved in:</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          {% include carousel-community-events.html %}
        </div>
      </div>
    </div>
  </div>
</section>