{% if page.layout == 'event' %}
  {% include carousel-images.html %}
{% endif %}
<section id="event-summary" class="gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>
            {{ event.headline }}
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="content">
          <img src="{{ event.poster_image }}" class="img-responsive center-block" alt="{{ event.title }} Image" />
        </div>
      </div>
      <div class="col-md-8">
        <div class="content">
          <h1>{{ event.title }}</h1>
          {% if event.event_date_final %}
          <p class="event-date">{{ event.event_date | date: '%A, %B %-d, %Y'}}</p>
          <p class="event-time">{{ event.start_time }} - {{ event.end_time }}</p>
          {% else %}
          <p>Event Date: TBD</p>
          {% endif %}
          <p class="event-location">{{ event.location_name }}</p>
          <p class="event-address">{{ event.address }}</p>
          <a href="{{ event.ticket_link }}" id="ticket-link" class="read-more hide" style="display: none;">Click here to purchase tickets</a>
          <div class="event-description">
            {{ event.content }}
          </div>
          <p><em>Sponsorship opportunities are available through {{ event.sponsorship_deadline_date | date: "%B %-d, %Y"}}</em></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <hr class="hr-gray" />
          <h2>Event Benificiary, {{ event.beneficiary }}</h2>
          {{ event.beneficiary_description_html }}
        </div>
      </div>
    </div>
    <div class="row">
      {% for i in event.beneficiary_images %}
      <div class="col-md-4">
        <div class="content">
          <img src="{{ i }}" class="img-responsive" alt="{{ event.beneficiary }}" />
        </div>
      </div>
      {% endfor %}
    </div>
    {% if event.video_url %}
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <hr class="hr-gray" />
        </div>
        {% include video_embed.html %}
      </div>
    </div>
    {% endif %}
  </div>
</section>
<section id="sponsor-event" class="countdown-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <div class="countdown">
            <span class="days-left days-left-sponsor" data-end="{{ event.sponsorship_deadline_date | date_to_rfc822}}" data-start="{{ event.sponsorship_start_date | date_to_rfc822}}"></span>
            <p>Days Left to Sponsor {{ event.title }}</p>
            <div class="progress">
              <div class="progress-bar animated sponsor-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-width="">
                <span class="sr-only"><span class="percent-complete-sponsor"></span>% Complete</span>
              </div>
            </div>
          </div>
          <h1>Sponsor {{ event.title }}</h1>
          <div class="editable">
            <p><strong>Thank you for your interest in becoming a {{ event.title }} sponsor.</strong></p>
            <p>We rely on the generosity of corporate sponsors to help secure the inSTEM program and inspire more girls every year.</p>
            <p>We appreciate our sponsor's commitment&nbsp; to make an impact on the lives of these young girls and invest in the future of women in STEM.</p>
          </div>
          <div class="text-center">
            <button data-target="#sponsor-form" data-toggle="collapse" class="btn btn-primary" aria-expanded="false" aria-controls="sponsor-form">Become a Sponsor</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sponsor-form" class="collapse gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
            <h1 class="editable">
              Sponsor Information
            </h1>
            <p class="editable">
              Complete the form below to receive information on available sponsorship packages.
            </p>
            <div class="cognito">
            <script src="https://services.cognitoforms.com/s/bbN8iw1MJUqjPe6aHn-_rw"></script>
            <script>Cognito.load("forms", { id: "13" });</script>
            <script>
              // Fix for issue with Cognito's scroll view logic
              $('#sponsor-form').on('shown.bs.collapse', function() {
                $('#page-header').css('position', 'absolute');
              });
              $('#sponsor-form').on('hidden.bs.collapse', function() {
                $('#page-header').css('position', 'fixed');
              });
            </script>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="buy-tickets" class="countdown-section hide" style="display: none;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <div class="countdown">
            <span class="days-left days-left-tickets" data-end="{{ event.event_date | date_to_rfc822}}" data-start="{{ event.purchase_tickets_start_date | date_to_rfc822}}"></span>
            <p>Days Left to Buy Tickets for {{ event.title }}</p>
            <div class="progress">
              <div class="progress-bar animated ticket-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-width="">
                <span class="sr-only"><span class="percent-complete-ticket"></span>% Complete</span>
              </div>
            </div>
          </div>
          <div class="text-center">
            <a href="{{ event.ticket_link }}" class="btn btn-primary">Buy Tickets</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% if event.show_sponsors %}
<section id="event-sponsors">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <hr class="hr-gray" />
          <h1 class="editable">Event Sponsors</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          {% for tier in event.tier_sponsors %}
          {% if tier.tier_order == '1' %}
          <h3 class="text-center">{{ tier.tier_name }}</h3>
          <div class="grid center-grid">
            {% for sponsor in tier.sponsors %}
            <div class="grid-item-33">
              <a href="{{ sponsor.sponsor_url }}" target="_blank">
                <img src="{{ sponsor.sponsor_logo_image }}" class="img-responsive" alt="{{ sponsor.sponsor_name }} Image" />
              </a>
            </div>
            {% endfor %}
          </div>
          {% endif %}
          {% if tier.tier_order == '2' %}
          <h3 class="text-center">{{ tier.tier_name }}</h3>
          <div class="grid center-grid">
            {% for sponsor in tier.sponsors %}
            <div class="grid-item-25">
              <a href="{{ sponsor.sponsor_url }}" target="_blank">
                <img src="{{ sponsor.sponsor_logo_image }}" class="img-responsive" alt="{{ sponsor.sponsor_name }} Image" />
              </a>
            </div>
            {% endfor %}
          </div>
          {% endif %}
          {% if tier.tier_order == '3' %}
          <h3 class="text-center">{{ tier.tier_name }}</h3>
          <div class="grid center-grid">
            {% for sponsor in tier.sponsors %}
            <div class="grid-item-15">
              <a href="{{ sponsor.sponsor_url }}" target="_blank">
                <img src="{{ sponsor.sponsor_logo_image }}" class="img-responsive" alt="{{ sponsor.sponsor_name }} Image" />
              </a>
            </div>
            {% endfor %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% for tier in event.tier_sponsors %}
      {% if tier.tier_order == '4' %}
        <div class="row">
          <div class="col-xs-12">
            <div class="content">
              <h3 class="text-center">{{ tier.tier_name }}</h3>
            </div>
          </div>
        </div>
        <div class="row">
          {% for sponsor in tier.sponsors %}
            <div class="col-md-4">
              <div class="content text-center">
                <strong>{{ sponsor.sponsor_name}}</strong>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
{% endif %}
