<div class="brand-primary text-center divider">
  Looking for your next career opportunity? <a href="{{ site.baseurl }}/careers">Learn More</a>
</div>

<footer id="page-footer" style="background-image: url(/img/footer/01.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <img src="/img/logo-white.svg" class="img-responsive" alt="Blinderman Construction">
          <p class="tagline">
            <span>Singular Care</span>
            <span>Smart Solutions</span>
            <span>Certain Success</span>
          </p>
          <div id="social">
            <a href="https://www.facebook.com/BlindermanConstruction/" target="_blank"><span class="icon icon-facebook"></span></a>
            <a href="https://www.linkedin.com/company-beta/2980230/" target="_blank"><span class="icon icon-linkedin"></span></a>
            <a href="https://twitter.com/BlindermanCo" target="_blank"><span class="icon icon-twitter"></span></a>
          </div>
          <address>
            Blinderman Construction<br>
            224 North Desplaines Street, Suite 650<br>
            Chicago, Illinois 60661-1067<br>
            <a href="tel:1-312-982-2600" class="white">312.982.2600</a><br>
            <a href="mailto:info@blinderman.com">info@blinderman.com</a>
          </address>
          <p>&copy; 2017 Blinderman, All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
