<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% endif %} | {{ site.title | escape }}</title>
  <meta name="description" content="{{ site.description }}">
  
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

   {% if site.facebook.title %}
   <meta property="og:title" content="{{ page.title }} | {{ site.facebook.title }} ">
   <meta property="og:description" content="{% if page.layout == 'post' %}{{ page.intro }} {{ page.content | strip_html | truncate: 200 }}{% else %}{{ site.facebook.description }}{% endif %}">
   <meta property="og:type" content="website">
   <meta property="og:url" content="{{ page.url | prepend: site.url }}">
   <meta property="og:image" content="{% if page.layout == 'post' %}{{ site.url }}{{ page.image }}{% else %}{{ site.facebook.featured_image }}{% endif %}">
   <meta property="og:image:type" content="image/jpg">
   <meta property="og:image:width" content="1200">
   <meta property="og:image:height" content="600">
   {% endif %}
   
   {% if site.twitter.title %}
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:site" content="{{ site.twitter.username }}">
   <meta name="twitter:creator" content="{{ site.twitter.username }}">
   <meta name="twitter:title" content="{{ page.title }} | {{ site.twitter.title }}">
   <meta name="twitter:description" content="{% if page.layout == 'post' %}{{ page.intro }}{% else %}{{ site.twitter.description }}{% endif %}">
   <meta name="twitter:image" content="{% if page.layout == 'post' %}{{ site.url}}{{ page.image }}{% else %}{{ site.twitter.featured_image }}{% endif%}">
   <meta name="twitter:image:alt" content="{% if page.layout == 'post' %}{{ page.title}} image{% else %}{{ site.twitter.image_alt_text }}{% endif %}">
  {% endif %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900" rel="stylesheet">
  <!-- CSS -->

  <link rel="stylesheet" href="/libs/flexslider.css">
  <link rel="stylesheet" href="/libs/venobox.css">
  <link rel="stylesheet" href="/css/main.css">
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-100993568-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
