<header id="page-header">
  <div id="topnav">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="content">
            <a href="/planroom" id="subcontractors">Plan Room</a>
            <span class="icon icon-search search-trigger"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="topnav-drawer" class="brand-primary text-right">
    <div class="container">
      <a href="#">Bid Opportunities</a> &#124; <a href="#">Prequalification</a>
    </div>
  </div> -->
  <div id="mainnav">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand animated fadeIn" href="{{ site.baseurl }}/"><img src="/img/logo.svg" class="img-responsive" alt="Blinderman Construction" ></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li data-target="#aboutNav">About Us</li>
          <li data-target="#workNav">Our Work</li>
          <li data-target="#serviceNav">Our Services</li>
          <li><a href="{{ site.baseurl }}/careers">Careers</a></li>
          <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
          <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
{% include megamenu.html %}
{% include mobilenav.html %}
<div id="search">
  <span class="close-search icon icon-cross"></span>
  <div class="container">
    <div class="content">
      <form id="site-search-form" action="submit">
      <div class="form-group">
        <input id="search_box" type="text" class="form-control" id="" placeholder="Search">
        <span class="icon icon-search"></span>
      </div>
      </form>
    </div>
  </div>
</div>
<section id="site-search-results">
      <div class="container">
        <div class="row">
          <div class="small-12">
            <div class="content">
              <h2>Search Results</h2>
              <hr>
              <ul id="search_results">
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>