<div class="hero {{ page.title | slugify }}-hero" style="background-image: url({{ page.hero_image }})">
  <div class="container">
    <div class="hero-caption animated fadeInRight delay1">
      <h1>{{ page.hero_title }}</h1>
      <p>{{ page.hero_paragraph }}</p>
    </div>
  </div>
</div>