<div class="megaMenu" id="aboutNav">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-4 col-md-3 col-lg-offset-5">
        <div class="content">
          <ul>
            <li>
              <a href="{{ site.baseurl }}/our-story">Our Story</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/our-value">Our Value</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/social-responsibility">Our Commitment</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="content">
          <ul>
            <li>
              <a href="{{ site.baseurl }}/who-we-are">Who We Are</a>
              <div class="row">
                <div class="col-xs-6">
                  <ul>
                    <li><a href="{{ site.baseurl }}/who-we-are#leadership">Leadership</a></li>
                    <li><a href="{{ site.baseurl }}/who-we-are#administration">Administrative Support</a></li>
                    <li><a href="{{ site.baseurl }}/who-we-are#preconstruction">Preconstruction</a></li>
                    <li><a href="{{ site.baseurl }}/who-we-are#project-team">Project Team</a></li>
                    <li><a href="{{ site.baseurl }}/who-we-are#concrete-division">Concrete Division</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="megaMenu" id="workNav">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 col-lg-offset-5">
        <div class="content">
          <ul>
            <li>
              <a href="{{ site.baseurl }}/our-work">Expertise</a>
              <div class="row">
                <div class="col-xs-6">
                  <ul>
                    {% for object in site.data.expertise_areas | limit: 3 %}
                      {% assign area = site.expertise_areas | where: "slug", object | first %}
                      <li><a href="{{ area.url }}">{{ area.title }}</a></li>
                    {% endfor %}
                    <!-- <li><a href="{{ site.baseurl }}/expertise_areas/hospitality">Hospitality</a></li>
                    <li><a href="{{ site.baseurl }}/expertise_areas/education">Education</a></li>
                    <li><a href="{{ site.baseurl }}/expertise_areas/transportation">Transportation</a></li>
                    <li><a href="{{ site.baseurl }}/expertise_areas/institutional">Institutional</a></li> -->
                  </ul>
                </div>
                <div class="col-xs-6">
                  {% if site.data.expertise_areas.size > 3 %}
                    
                  <ul>
                    {% for object in site.data.expertise_areas offset: 3 | limit: 3 %}
                      {% assign area = site.expertise_areas | where: "slug", object | first %}
                      <li><a href="{{ area.url }}">{{ area.title }}</a></li>
                    {% endfor %}  
                  </ul>
                  {% endif %}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="col-sm-3">
        <div class="content">
          <ul>
            <li>
              <a href="{{ site.baseurl }}/blinderman-concrete">Blinderman<br>Concrete</a>
              <ul>
                <li><a href="{{ site.baseurl }}/blinderman-concrete#about">About</a></li>
                <li><a href="{{ site.baseurl }}/blinderman-concrete#projects">Projects</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</div>
<div class="megaMenu" id="serviceNav">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-4 col-md-6 col-lg-offset-5">
        <div class="content">
          <ul>
            <li>
              <a href="{{ site.baseurl }}/our-services">Our Services</a>
              <div class="row">
                <div class="col-xs-6">
                  <ul>
                    <li><a href="{{ site.baseurl }}/our-services#preconstruction">Preconstruction</a></li>
                    <li><a href="{{ site.baseurl }}/our-services#general-contracting">General Contracting</a></li>
                    <li><a href="{{ site.baseurl }}/our-services#design-build">Design Build</a></li>
                    <li><a href="{{ site.baseurl }}/our-services#construction-management">Construction Management</a></li>
                    
                    <!-- <li><a href="{{ site.baseurl }}/our-services#">Integrated Project Delivery</a></li> -->
                  </ul>
                </div>
                <div class="col-xs-6">
                  <ul>
                    <li><a href="{{ site.baseurl }}/our-services#renovation">Historic Renovation</a></li>
                    <!-- li><a href="{{ site.baseurl }}/our-services#safety">Safety</a></li> -->
                    <li><a href="{{ site.baseurl }}/our-services#sustainability">Sustainability</a></li>
                    <li><a href="{{ site.baseurl }}/our-services#virtual-building">Virtual Building</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="megaMenu" id="careerNav">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 col-lg-offset-5">
        <div class="content">
          <ul>
            <li>
              <a href="{{ site.baseurl }}/careers">Careers</a>
              <ul>
                <li><a href="#">Working With Us</a></li>
                <li><a href="#">Internship Opportunities</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->