<div id="mobilenav">
  <span class="icon icon-cross"></span>
  <div class="content">
    <span class="icon icon-search search-trigger"></span>
  </div>
  <div class="panel-group" id="mobilenav-accordion" role="tablist" aria-multiselectable="true">
    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="{{ site.baseurl }}/">Home</a>
        </h4>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#mobilenav-accordion" href="#collapse-about" class="collapsed">
            About Us
            <span class="pull-right icon icon-plus"></span>
            <span class="pull-right icon icon-minus"></span>
          </a>
        </h4>
      </div>
      <div id="collapse-about" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-about">
        <div class="panel-body">
          <ul>
            <li>
              <a href="{{ site.baseurl }}/our-story">Our Story</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/who-we-are">Who We Are</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/our-value">Our Value</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/social-responsibility">Our Commitment</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#mobilenav-accordion" href="#collapse-work" aria-expanded="false" aria-controls="collapse-work">
            Our Work
            <span class="pull-right icon icon-plus"></span>
          </a>
        </h4>
      </div>
      <div id="collapse-work" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
          <ul>
            <li>
              <strong>
                <a href="{{ site.baseurl }}/our-work">Expertise</a>
              </strong>
            </li>
            {% for object in site.data.expertise_areas %}
              {% assign area = site.expertise_areas | where: "slug", object | first %}
              <li><a href="{{ area.url }}">{{ area.title }}</a></li>
            {% endfor %}
            <!-- <li>
              <a href="{{ site.baseurl }}/blinderman-concrete">Blinderman Concrete</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#mobilnav-accordion" href="#collapse-services" aria-expanded="false" aria-controls="collapse-services">
            Our Services
            <span class="pull-right icon icon-plus"></span>
          </a>
        </h4>
      </div>
      <div id="collapse-services" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
          <ul>
            <li><a href="{{ site.baseurl }}/our-services"><strong>Services</strong></a></li>
            <li><a href="{{ site.baseurl }}/our-services#preconstruction">Preconstruction</a></li>
            <li><a href="{{ site.baseurl }}/our-services#general-contracting">General Contracting</a></li>
            <li><a href="{{ site.baseurl }}/our-services#design-build">Design Build</a></li>
            <li><a href="{{ site.baseurl }}/our-services#construction-management">Construction Management</a></li>
            <!-- <li><a href="{{ site.baseurl }}/our-services#">Integrated Project Delivery</a></li> -->
            <li><a href="{{ site.baseurl }}/our-services#renovation">Historic Renovation</a></li>
            <!-- <li><a href="{{ site.baseurl }}/our-services#safety">Safety</a></li> -->
            <li><a href="{{ site.baseurl }}/our-services#sustainability">Sustainability</a></li>
            <li><a href="{{ site.baseurl }}/our-services#virtual-building">Virtual Building</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="{{ site.baseurl }}/careers">Careers</a>
        </h4>
      </div>
      <!-- <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#mobilnav-accordion" href="#collapse-careers" aria-expanded="false" aria-controls="collapse-services">
            Careers
            <span class="pull-right icon icon-plus"></span>
          </a>
        </h4>
      </div> -->
      <!-- <div id="collapse-careers" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
          <ul>
            <li><a href="#">Working With Us</a></li>
            <li><a href="#">Internship Opportunities</a></li>
          </ul>
        </div>
      </div> -->
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="{{ site.baseurl }}/contact">Contact</a>
        </h4>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="{{ site.baseurl }}/blog">Blog</a>
        </h4>
      </div>
    </div>
    <div class="panel">
      <p class="social">
        <a href="https://www.facebook.com/BlindermanConstruction/" target="_blank"><span class="icon icon-facebook2"></span></a>
        <a href="https://www.linkedin.com/company-beta/2980230/" target="_blank"><span class="icon icon-linkedin"></span></a>
        <a href="https://twitter.com/blindermanconst" target="_blank"><span class="icon icon-twitter"></span></a>
      </p>
    </div>
  </div>
</div>