<div class="row">
  <div class="col-xs-12">
    <div class="content">
      <div class="grid">
        {% for post in posts_by_author %}
        
        
        <div class="grid-item-33">
          <a href="{{ post.url }}">
          <img src="{{ post.image }}" class="img-responsive" alt="{{ post.title }} image">
          </a>
          <h2>{{ post.title }}</h2>
        </div>
  
        {% endfor %}
      </div>
    </div>
  </div>
</div>