<!-- Javascript -->
<script src="{{ site.baseurl }}/js/vendor/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>

<script src="{{ site.baseurl }}/libs/jquery.waypoints.min.js"></script>
<script src="{{ site.baseurl }}/libs/inview.min.js"></script>
<script src="{{ site.baseurl }}/libs/jquery.flexslider-min.js"></script>
<script src="{{ site.baseurl }}/libs/lunr.min.js"></script>
<script src="{{ site.baseurl }}/js/vendor/slick.min.js"></script>
<script src="{{ site.baseurl }}/libs/behaviors.js"></script>
<script src="{{ site.baseurl }}/libs/venobox.min.js"></script>
<script src="{{ site.baseurl }}/js/flexslider.js"></script>
<script src="{{ site.baseurl }}/js/animation.js"></script>
<script src="{{ site.baseurl }}/js/homepage.js"></script>
<script src="{{ site.baseurl }}/js/search.js"></script>
<script src="{{ site.baseurl }}/js/blog.js"></script>
<script src="{{ site.baseurl }}/libs/moment.js"></script>
<script src="{{ site.baseurl }}/js/responsibility.js"></script>
<script src="{{ site.baseurl }}/js/tickets.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>