<div class="content">
  <div class="grid center-grid video-content" style="background-image: url({{ page.video_thumbnail }});">
    <div class="overlay-caption" >
      <a class="play-video venobox vbox-item" data-autoplay="true" data-vbtype="vimeo" href="{{ page.video_url }}">
         <img src="/img/play-video.svg" alt="play button icon">
      </a>
    </div>
  </div>
</div>
