---
layout: default
---
<section id="bio-content" class="bio gray-light">
  <div class="container">
    <div class="grid">
      <div class="left">
        <div class="content">
          {% if page.personal_image %}
          <img src="{{ page.personal_image }}" class="img-responsive" alt="{{ page.name }} image">
          {% else %}
          <img src="{{ page.professional_image }}" class="img-responsive" alt="{{ page.name }} image">
          {% endif %}
        </div>
      </div>
      <div class="right">
        <div  class="content ">
          <h1>{{ page.name }}</h1>
          <h5 class="uppercase">{{ page.job_title }}</h5>
          
          <h3>Biography</h3>
          {{ page.content }}
          {% if page.education.first.achievement != nil %}
          <h4 class="uppercase">Education</h4>
          <ul class="styled">
            {% for item in page.education %}
            <li>{{ item.achievement }}<br>
                {% if item.institution %}
                <em>{{ item.institution }}</em>
                {% endif %}
            </li>
            {% endfor %}
          {% endif %}  
          </ul>
          {% if page.professional_affiliations.first != nil %}
          <h5 class="uppercase">Professional Affiliations</h5>
          <ul class="styled">
            {% for item in page.professional_affiliations %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if page.things_you_should_know.first != nil %}
            <hr>
            <h5 class="uppercase">Things you should know about {{ page.name }}</h5>
            <ul class="styled">
              {% for item in page.things_you_should_know %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
            <hr>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- check for posts by author -->
{% assign author = page.title | slugify %}
{% assign posts_by_author = "" | split: "|" %}
{% for post in site.posts %}
  {% if post.staff contains author %}
    {% assign posts_by_author = posts_by_author | push: post %}
    {% assign num_posts = posts_by_author | size %}
  {% endif %}
{% endfor %}  
{% if num_posts >= 1%}
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h2>Posts by {{ page.name }}</h2>
        </div>
      </div>
    </div>
    {% include posts-by-author.html %}
  </div>
</section>
{% endif %}