---
layout: default
---
<button id="mobile-filters-trigger" class="btn btn-block btn-primary visible-xs">
  Sort Posts
  <span class="caret"></span>
</button>
<div class="blog-filters blog-filters-mobile">
  <div class="content">
    <h6 class="text-uppercase">Categories</h5>
    <ul>
      <li class="filter" data-filter="all">All</li>
      {% for category in site.categories %}
        <li class="filter" data-filter=".{{ category[0] }}">{{ category[0] }}</li>
      {% endfor %}
    </ul>
    <h6 class="text-uppercase">Archive</h6>
     {% for post in site.posts %}
        {% assign currentDate = post.date | date: "%Y" %}
        {% if currentDate != myDate %}
            {% unless forloop.first %}</ul>{% endunless %}
            <h6>{{ currentDate }}</h6>
            <ul>
            {% assign myDate = currentDate %}
        {% endif %}
        <li><a href="{{ post.url }}"><span>{{ post.date | date: "%B %-d, %Y" }}</span> - {{ post.title }}</a></li>
        {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
  </div>
</div>
<section class="gray-light">
  <div class="container">

    <div class="row blog-posts">
      <div class="col-xs-12 col-md-8">
        {% for post in site.posts %}
        <div class="content mix {% for category in post.categories %}{{ category }} {% endfor %}">
          <a href="{{ post.url }}">
            <img src="{{ post.image }}" class="img-responsive" alt="">
          </a>
          <a href="{{ post.url }}"><h1>{{ post.title }}</h1></a>
          <hr class="hr-xs">
          {{ post.content | truncate: 150 }}
          {% for object in post.staff limit:1 %}
          {% assign author = site.staff | where: "slug", object | first %}
          <p>By <a href="{{ author.url }}">{{ author.name }}</a></p>
          {% endfor %}
          <a href="{{ post.url }}" class="read-more">Read More</a>
        </div>
        {% endfor %}
        <div class="content no-posts">
          <h2>There were no posts found under this category</h2>
        </div>
        <div class="content hide">
          <p><a href="#"><span class="caret caret-left"></span>Older Posts</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="content">
          <div class="panel-group blog-filters hidden-xs" id="blog-sidebar" role="tablist" aria-multiselectable="true">
            <div class="panel">
              <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#blog-sidebar" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Categories
                    <span class="caret"></span>
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <ul>
                    <li class="filter" data-filter="all">All</li>
                    {% for category in site.categories %}
                      <li class="filter" data-filter=".{{ category[0] }}">{{ category[0] }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#blog-sidebar" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Archive
                    <span class="caret"></span>
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <!-- need to understand how many will be output onto this page to be able to set what will be output into this list -->
                  {% for post in site.posts %}
                     {% assign currentDate = post.date | date: "%Y" %}
                     {% if currentDate != myDate %}
                         {% unless forloop.first %}</ul>{% endunless %}
                         <h5>{{ currentDate }}</h5>
                         <ul>
                         {% assign myDate = currentDate %}
                     {% endif %}
                     <li><a href="{{ post.url }}"><span>{{ post.date | date: "%B %-d, %Y" }}</span> - {{ post.title }}</a></li>
                     {% if forloop.last %}</ul>{% endif %}
                 {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>