---
layout: default
hero_image: /uploads/blinderman-1.jpg
hero_title: 'Our Commitment'
hero_paragraph: 'At Blinderman, we believe we can – and should – make a positive impact on the communities we serve. One person, one project, and one initiative at a time.'
---

<div class="hero {{ page.title | slugify }}-hero" style="background-image: url({{ layout.hero_image }})">
  <div class="container">
    <div class="hero-caption animated fadeInRight delay1">
      <h1>{{ layout.hero_title }}</h1>
      <p>{{ layout.hero_paragraph }}</p>
    </div>
  </div>
</div>
<section id="community-event">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <img src="{{ page.image }}" class="img-responsive event-image" alt="">
          <h1>{{ page.title }}</h1>
          {{ page.content }}
          {% if page.cause_description %}
          <p><small>{{ page.cause_description }}</small></p>
          {% endif %}
          <p><a href="/social-responsibility" class="back-button"><span class="caret"></span> Back to all events</a></p>
        </div>
      </div>
    </div>
    {% if page.staff != nil %}
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>Participants</h1>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="content">
          <div class="grid team-grid start">
            {% for object in page.staff %}
            {% assign staff = site.staff | where: "slug", object | first %}
            <div class="grid-item-25">
              <a href="{{ staff.url }}" class="bio-image">
                <img src="{{ staff.professional_image }}" class="img-responsive" alt=" image">
              </a>
              <a href="{{ staff.url }}" class="bio-details">
                <h2>{{ staff.name }}</h2>
                <h5 class="uppercase">{{ staff.job_title }}</h5>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>Other Community Events</h1>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="content">
          {% include carousel-community-events.html %}
        </div>
      </div>
    </div>
  </div>
</section>

