---
layout: default
---
<section class="gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>{{ page.title }}</h1>
          {{ page.description_html }}
        </div>
      </div>
    </div>
    <hr class="hr-lg">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <div class="grid">

            {% for area in site.data.project_order %}
            {% assign title = page.title | slugify %}
            {% if area.expertise_area == title %}
            {% for object in area.projects %}
            {% assign project = site.projects | where: "slug", object | first %}
            <a href="{{ project.url }}" class="card blend-overlay grid-item-33 {% if forloop.last %}last-item{% endif %}" style="background-image: url({{ project.project_images.first.project_image }})">
              <div class="card-content">
                <h2>{{ project.title }}</h2>
                <p>{{ project.subtitle | truncate: 175 }}</p>
              </div>
            </a>
            {% endfor %}
            {% endif%}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <a href="{{ site.baseurl }}/our-work"><i>&lt; Back to Areas of Expertise</i></a>
        </div>
      </div>
    </div> 
  </div>
</section>