---
layout: default
---

<section class="gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="content post-content">
          <img src="{{ page.image }}" class="img-responsive" alt="{{ page.title }} image">
          <h1 class="bold">{{ page.title }}</h1>
          <p><em>{{ page.date | date: "%m.%-d.%y" }}</em></p>
          {% for object in page.staff limit:1 %}
          {% assign author = site.staff | where: "slug", object | first %}
          <p><em>Author: <a href="{{ author.url }}" class="">{{ author.name }}</a></em></p>
          {% endfor %}
          <p>
            <em>
              {% for category in page.categories %}
              <a href="/blog?{{ category }}">{{ category }}</a>{% unless forloop.last %},{% endunless %}
              {% endfor %}
            </em>
          </p>
          <p>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | url_encode }}{{ page.url | url_encode }}" class="share-link" target="_blank"><i class="icon icon-facebook2"></i>Share</a> 
            <a href="https://twitter.com/home?status={{ site.url | url_encode }}{{ page.url | url_encode }}" class="share-link" target="_blank"><i class="icon-twitter"></i>Share</a> 
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url | url_encode }}{{ page.url | url_encode }}&title={{ page.title | url_encode }}&summary={{ page.intro | url_encode }}&source=" class="share-link" target="_blank"><i class="icon-linkedin"></i>Share</a>
          </p>
          <p class="lead">{{ page.intro }}</p>
          {{ page.content }}
        </div>
        {% if page.video_url %}
          {% include video_embed.html %}
        {% endif %}
        <div class="content">
          <p><a href="{{ site.baseurl }}/blog"><span class="caret caret-left"></span>Back To All Posts</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 hidden-sm hidden-xs">
        <div class="content">
          <div class="panel-group" id="blog-sidebar" role="tablist" aria-multiselectable="true">
            <div class="panel">
              <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#blog-sidebar" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Categories
                    <span class="caret"></span>
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <ul>
                    <li><a href="/blog">All</a></li>
                    {% for category in site.categories %}
                      <li><a href="/blog?{{ category[0]}}">{{ category[0] }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#blog-sidebar" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Archive
                    <span class="caret"></span>
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <ul>
                   {% for post in site.posts %}
                      {% assign currentDate = page.date | date: "%Y" %}
                      {% if currentDate != myDate %}
                          {% unless forloop.first %}</ul>{% endunless %}
                          <h5>{{ currentDate }}</h5>
                          <ul>
                          {% assign myDate = currentDate %}
                      {% endif %}
                      <li><a href="{{ post.url }}"><span>{{ post.date | date: "%B %-d, %Y" }}</span> - {{ post.title }}</a></li>
                      {% if forloop.last %}</ul>{% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% if page.event %}
{% for object in page.event limit:1 %}
  {% assign event = site.events | where: "slug", object | first %}
{% endfor%}
<section id="post-sponsors">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>Event Sponsors</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <div class="grid start">
            {% for tier in event.tier_sponsors %}
              {% for sponsor in tier.sponsors %}
                <div class="grid-item-25">
                  <img src="{{ sponsor.sponsor_logo_image }}" class="img-responsive" alt="{{ sponsor.sponsor_name }} Image">
                </div>
              {% endfor %}
            {% endfor%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<section id="author" class="gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>Authors</h1>
        </div>
      </div>
    </div>
    {% for object in page.staff limit:1 %}
    {% assign author = site.staff | where: "slug", object | first %}
    <div class="row author-row">
      <div class="col-xs-12 col-md-3">
        <div class="content">
          <img src="{{ author.professional_image }}" class="img-responsive" alt="{{ author.name }} image">
        </div>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="content">
          <h1>{{ author.name }}</h1>
          <h5 class="uppercase">{{ author.job_title }}</h5>
          <p>{{ author.intro }}</p>
          <a href="{{ author.url }}" class="read-more">Read More</a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>Related Posts</h1>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      {% for p in site.related_posts limit: 3 %}
        <div class="col-xs-12 col-md-4">
          <div class="content">
            <a href="{{ p.url }}">
              <img src="{{ p.image }}" class="img-responsive" alt="">
              <h2>{{ p.title}}</h2>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
