---
layout: default
---

<section class="gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <div id="slider" class="flexslider">
            <ul class="slides">
              {% for image in page.project_images %}
              <li>
                <img src="{{ image.project_image }}" />
              </li>
              {% endfor %}
            </ul>
          </div>
          <div id="carousel" class="flexslider">
            <ul class="slides">
              {% for image in page.project_images %}
              <li>
                <img src="{{ image.project_image }}" />
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="content">
          <h2>{{ page.title }}</h2>
          <p class="lead">
            {{ page.intro }}
          </p>
          {{ page.content }}
        </div>  
        {% if page.video_url %}
        <div class="content">
          <a class="grid center-grid video-content play-video venobox vbox-item" style="background-image: url({{ page.video_thumbnail }});" data-autoplay="true" data-vbtype="vimeo" href="{{ page.video_url }}">
            <div class="overlay-caption" >
              <img src="/img/play-video.svg" alt="play button icon">
             
            </div>
          </a>
        </div>
        {% endif %}
        <div id="project-nav" class="content">
          <nav class="project-nav">
            {% assign order = "" | split: "|" %}
            {% for area in site.data.project_order %}
              {% if area.expertise_area == page.expertise_area %}
                {% for object in area.projects %}
                  {% assign project = site.projects | where: "slug", object | first %}
                  {% assign order = order | push: project %}
                {% endfor %}
              {% endif %}
            {% endfor %}
            {% assign prev = order | last %}
            {% assign next = order | first %}

            {% for item in order %}
              {% if item.title == page.title %}
                {% unless forloop.first %}
                  {% assign prev = iterator %}
                {% endunless %}

                {% unless forloop.last %}
                  {% assign next = order[forloop.index] %}
                {% endunless %}

              {% assign iterator = project %}
              {% endif %} 
            
            {% endfor %}
            <a href="/expertise_areas/{{ page.expertise_area }}"><span class="caret"></span> Back to all Projects</a>
            <a href="{{ next.url }}" class="pull-right">Next Project <span class="caret"></span></a>
          </nav>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="content">
          <div class="panel stats-panel">
            {% if page.award != nil %}
            <h5 class="uppercase">Awards:</h5>
            <p>{% for award in page.award %}
            <a href="{{ award.url }}" target="_blank">{{ award.title }}</a><br/>
            {% endfor %}</p>
            {% endif %}
            {% if page.location != nil %}
            <h5 class="uppercase">Location:</h5>
            <p>{{ page.location }}</p>
            {% endif %}
            {% if page.client != nil %}
            <h5 class="uppercase">Client:</h5>
            <p>{{ page.client }}</p>
            {% endif %}
            {% if page.value != nil %}
            <h5 class="uppercase">Value:</h5>
            <p>${{ page.value }}</p>
            {% endif %}
            {% if page.scope != nil %}
            <h5 class="uppercase">Scope:</h5>
            <p><small>{{ page.scope }}</small></p>
            {% endif %}
            {% if page.delivery != nil %}
            <h5 class="uppercase">Delivery:</h5>
            <p><small>{{ page.delivery }}</small></p>
            {% endif %}
            {% if page.size != nil %}
            <h5 class="uppercase">Size:</h5>
            <p><small>{{ page.size }}</small></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>