.bio {
  .grid {
    align-items: stretch;
  }
  .left {
    width:35%;
  }
  .right {
    width: 65%;
  }
  hr {
    border-top: 1px solid $brand-primary;
  }
  .lead {
    font-size: 18px;
  }
}


@media(max-width: 767px) {
  .bio {
    .grid {
      display: block;
    }
    .left, .right {
      width: 100%;
    }
  }
}