.blog-filters {
  ul {
    margin: 10px 0;
    li {
      padding: 5px 0;
      color: $brand-primary;
      cursor: pointer;
    }
  }
  .panel {
    margin-top: 0;
  }
}
.blog-filters-mobile {
  opacity: 0;
  visibility: hidden;
  height: 0;
  @include transition(.5s);
  &.active {
    opacity: 1;
    visibility: visible;
    height: auto;
  }
  .content {
    padding: 20px 40px;
  }
}
#mobile-filters-trigger {
  text-align: left;
  position: relative;
  border: none;
  font-size: 18px;
  padding: 10px 40px;
  .caret {
    position: absolute;
    top: 20px;
    right: 30px;
    border-top: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    @include transition(.5s);
  }
  &.active {
    .caret {
      transform: rotate(180deg);
    }
  }
}

.blog-posts {
  h1 {
    color: $text-color;
  }
  .mix {
    display: none;
  }
  .no-posts {
    display: none;
  }
  &.fail {
    .no-posts {
      display: block;
    }
  }
}