/* -----------------------------------------
Bootstrap overwrites
----------------------------------------- */

.btn {
  border: 1px solid transparent;
}

.lead {
  font-size: 22px;
}

.navbar-toggle {
  margin-top: 27px;
}

#filter-select {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  border-radius: 0px !important;
  border: 0px;
  background: $black;
  color: $white;
}

.panel {
  padding: 20px;
  &.stats-panel {
    h5 {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 25px;
    }
  }
}

.panel-group {
  background: #fff;
  padding: 20px;
  .panel-heading {
    background: transparent;
    padding: 0 0 10px 0;
    
    a {
      .caret {
        border-top: 4px solid $brand-primary;
        @include transition(.5s);
        transform: rotate(-180deg);
      }
      &.collapsed {
        .caret {
          transform: rotate(0deg);
        }
      }
    }
  }
  .panel {
    padding: 0;
  }
}

.panel-body {
  padding: 0;
}

.megaMenu {
  &.collapse {
    max-height: 200px;
  }
  overflow: hidden;
  .container {
    @include transition(.5s);
  }
  &.collapsing {
    .container {
      opacity: 0;
    }
  }
  &.collapse {
    &.in {
      .container {
        opacity: 1;
      }
    }
  }
}

.form-control {
  border: none;
  padding: 10px 20px;
}
textarea {
  &.form-control {
    margin-bottom: 20px;
  }
}

select {
  &.form-control {
    background-color: transparent;
    border: 1px solid $gray;
  }
}

label {
  font-weight: 100;
}
@media (max-width: 767px){
  .lead {
    font-size: 18px;
  }
  .btn {
    padding: 10px 20px;
  }
}