.item.next .carousel-caption {
    opacity: 0;
}

.carousel-inner > .item {
  padding: 0;
  margin: 0;
}

.carousel-caption {
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  text-shadow: none;
  background-color: rgba(0,0,0,.45);
  animation-delay: .5s;
  .content {
    animation-delay: 2s;
  }
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-indicators {
  bottom: 0;
  li {
    background-color: #fff;
    border-radius: 0;
    border: none;
    &.active {
      background-color: $brand-primary;
      border: none;
    }
  }
}

.carousel {
  .carousel-inner {
    .item {
      background-color: $gray-light;
      height: 500px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}



.carousel-caption {
  padding-bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  left: 0;
  right: auto;
  bottom: 0;
  padding: 20px;
  text-transform: none;
  letter-spacing: normal;
  text-align: left;
  &.fadeIn {
    animation-delay: 1s;
  }
  h1 {
    color: #fff;
    font-weight: 900;
  }
  h2 {
    color: #fff;
    font-weight: 300;
  }
  a {
    color: $brand-primary;
    font-size: 18px;
    &.fadeIn {
      animation-delay: 1.5s;
    }
  }
  p {
    font-size: 20px;
  }
  .btn {
    color: $black;
    box-shadow: 5px 4px 1px rgba(0,0,0,.5);
    font-size: 15px;
  }
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

@media(max-width: 767px) {
  
  #carousel-home {
    .carousel-inner {
      .item {
        height: 325px;
      }
    }
  }
  .carousel-caption {
    .btn {
      font-size: 11px;
      padding: 8px 11px;
    }
    h1 {
      font-size: 22px;
    }
    h2 {
      font-size: 18px;
      margin-top: 10px;
    }
    p {
      font-size: 16px;
    }
    .content {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .carousel-indicators {
    bottom: -37px;
  }
}