.card {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: flex-end;
  background-color: $gray-light;
  margin-bottom: 30px;
  .card-content {
    padding: 20px;
    width: 100%;
    height: auto;
    color: #fff;
    h2 {
      color: #fff;
    }
  }
  &.blend-overlay {
    background-color: rgba(0,0,0,.55);
    background-blend-mode: multiply;
    @include transition(.5s);
    &:hover {
      background-color: rgba(0,0,0,.8);
    }
  }
}

@media all and (max-width: 500px) {
  .card {
    .card-content {
      h2 {
        font-size: 25px;
      }
      p {
        font-size: 13px;
        line-height: 1.2;
      }
    }
    &.blend-overlay {
      background-color: rgba(0,0,0,.65);
    }
  }
}