#carousel-testimonials {
  .item {
    height: 350px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $gray;
  }
  blockquote {
    border-left: 0;
    color: #fff;
    font-weight: 900;
    font-size: 22px;
    padding: 0;
  }
}

#benefits {
  img {
    max-width: 170px;
  }
}

#career-contact {
  form {
    margin-top: 30px;
    .btn {
      font-weight: 900;
    }
  }
}

#internships {
  h5 {
    font-size: 15px;
    margin-bottom: 5px;
  }
}

@media all and (max-width: 767px) {
  #carousel-testimonials {
    .item {
      background-position: left center;
    }
  }
}