.cognito {
  .c-forms-form {
    max-width: 100% !important;
    margin-top: 20px;
    .c-span-24 {
      max-width: 100%;
      .c-span-12 {
        width: 50%;
        clear: none;
      }
    }
    .c-field {
      &:nth-of-type(odd) {
        padding-right: 30px;
      }
      input,
      textarea,
      select {
        color: $text-color;
        border: 0;
        padding: 10px;
      }

      &:focus {
        outline-style: solid;
        outline-color: $brand-primary;
      }
    }

    .c-editor {
      padding: 0;
    }

    .c-action {
      float: none;
      text-align: center;
    }

    #c-submit-button {
      @include transition(.5s);
      border-radius: 0;
      color: $white;
      font-weight: 600;
      font-family: $font-family-sans-serif;
      margin: 50px auto 0 auto;
      display: block;
      font-weight: 600;
      font-size: 16px;
      padding: 13px 40px;
      background-color: $brand-primary;
      border: 0;
      max-width: 140px;

      &:hover {
        color: $white;
      }
      &:focus {
        outline: none;
      }
    }

    .c-forms-confirmation-message {
      text-align: center;
      color: $brand-primary !important;
      font-size: 20px !important;
      border: 1px solid $brand-primary;
    }
  }

  .c-label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;

    label,
    .c-label {
      color: $brand-primary;
      font-size: 16px;
    }
  }

  .c-button-section {
    padding: 20px 0;
  }
  .c-validation {
    border-radius: 0;
    padding: 5px 10px;
    margin: 0;
    background-color: $brand-primary;
  }
}

.c-readonly { display: none; }

//contact page form
#contact {
  .c-forms-form {
    .c-field {
      &:nth-of-type(odd) {
        padding-right: 0;
      }
      &:first-of-type {
        padding-right: 30px;
      }
      input {
        height: 44px;
      }
      textarea {
        height: 200px;
      }
      input, textarea {
        padding: 15px;
        font-size: 16px;
        color: $gray-dark;
        font-family: $font-family-sans-serif;
        color: $gray-dark;
      }

    }
    #c-submit-button {
      margin: 50px 0 0 auto;
      padding: 20px 50px;
      font-weight: 400;
      font-size: 17px;
    }
  }
  .c-forms-confirmation-message {
    background-color: $white;
    border: 0;
    p {
      color: $gray;
      font-family: $font-family-sans-serif;
      &:nth-of-type(1) {
        font-size: 25px;
      }
      &:nth-of-type(2) {
        font-size: 20px;
      }
    }
  }
}

#career-contact {
  .c-forms-form {
    .c-field {
      padding-right: 0;
    }
    .c-fileupload {
      .c-warning {
        background: transparent;
        color: $gray-dark;
      }
    }
    .c-fileupload-dropzone {
      background-color: transparent;
      border: 0;
      .c-upload-button {
        border: 1px solid $gray;
        color: $gray-dark;
        background-color: transparent;
        margin-left: 0;
      }
    }
    #c-submit-button {
      margin: 20px 0
    }
    .c-forms-confirmation-message {
      background-color: $white;
      border: 0;
      p {
        color: $gray;
        font-family: $font-family-sans-serif;
        &:nth-of-type(1) {
          font-size: 25px;
        }
        &:nth-of-type(2) {
          font-size: 20px;
        }
      }
    }
  }
}

@media all and (max-width: 767px){
  .cognito {
    .c-forms-form {
      .c-span-24 {
        .c-span-12 {
          width: 100%;
          clear: both;
        }
      }
      .c-field {
        &:nth-of-type(odd) {
          padding-right: 0;
        }
      }
    }
  }

  #contact {
    .c-forms-form {
      .c-field {
        &:first-of-type {
          padding-right: 0;
        }
      }
    }
  }
}
