#community-event {
  .back-button {
    margin: 30px 0;
    display: inline-block;
    color: $black;
    font-size: 13px;
    .caret {
      color: $black;
      transform: rotate(90deg);
    }
  }
}