.countdown-section {
  padding-bottom: 0;
  .progress-bar {
    width: 100%;
    @include transition(.7s);
  }
  .btn {
    margin: 50px auto 0;
    display: inline-block;
    font-weight: 600;
    font-size: 19px;
    padding: 15px 25px;
  }
  hr {
    margin-bottom: 0;
  }
}

.countdown {
  text-align: center;
  padding-bottom: 20px;
  .days-left {
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
  }
  .progress {
    border-radius: 15px;
    background-color: #dadde2;
    .progress-bar {
      border-radius: 15px;
    }
  }
  p {
    font-size: 20px;
  }  
}

#event-summary {
  h1 {
    margin-top: 0;
  }
  .event-date, .event-time, .event-location, .even-address {
    font-size: 18px;
  }
  .event-location {
    margin-bottom: 0;
  }
  .event-description {
    margin: 30px 0;
  }
  .read-more {
    color: $black;
    font-size: 13px;
    font-weight: 600;
  }
}

#event-sponsors {
  padding-top: 0;
  hr {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .grid {
    padding-top: 20px;
    padding-bottom: 20px;
    &.center-grid {
      .grid-item-33 {
        width: 27%;
        margin: 3%;
      }
      .grid-item-25 {
        width: 19%;
        margin: 3%;
      }
      .grid-item-15 {
        width: 14%;
        margin: 3%;
      }
    }
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  img {
    width: 250px;
  }
}

#latest-news {
  h1 {
    margin-top: 0;
  }
  hr {
    margin-bottom: 0;
  }
}

#carousel-event {
  .carousel-inner {
    .item {
      height: 500px;
      max-width: 1200px;
      margin: 0 auto;
      background-size: contain;
      background-color: #ffffff;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 767px) {
  #event-sponsors {
    .grid {
      &.center-grid {
        .grid-item-33,
        .grid-item-25,
        .grid-item-15 {
          img {
            margin: 30px auto;
          }
        }
        .grid-item-15 {
          img {
            margin: 30px auto;
          }
        }
      }
    }
  }

  #carousel-event {
    .carousel-inner {
      .item {
        height: 400px;
      }
    }
  }
}

@media (max-width: 500px) {
  #carousel-event {
    .carousel-inner {
      .item {
        height: 300px;
      }
    }
  }
}