.flexslider {
  margin: 0 0 20px;
  background: transparent;
  border: none;
}

.flex-direction-nav  {
  a {
    width: 20px;
    height: 20px;
    &:before {
      display: inline-block;
      content: '';
      width: 0; 
      height: 0; 
    }
    &.flex-prev {
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent; 
      border-right: 15px solid $brand-primary; 
    }
    &.flex-next {
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent; 
      border-left: 15px solid $brand-primary; 
    }
  }
}