@font-face {
  font-family: 'blinderman';
  src:  url('/fonts/blinderman.eot?y445k');
  src:  url('/fonts/blinderman.eot?y445k#iefix') format('embedded-opentype'),
    url('/fonts/blinderman.woff2?y445k') format('woff2'),
    url('/fonts/blinderman.ttf?y445k') format('truetype'),
    url('/fonts/blinderman.woff?y445k') format('woff'),
    url('/fonts/blinderman.svg?y445k#blinderman') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'blinderman' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e036";
}
.icon-plus:before {
  content: "\e114";
}
.icon-minus:before {
  content: "\e115";
}
.icon-cross:before {
  content: "\e117";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\eac9";
}
