/* -----------------------------------------
Global
----------------------------------------- */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
}
section {
  padding: 50px 0;
  clear: both;
  &.intro {
    padding: 90px 0;
  }
}

a {
  &:hover, &:focus, &:visited {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
  li {
    padding: 10px 0;
  }
  &.styled {
    list-style-type: disc;
    padding-left: 20px;
  }
}

hr {
  border-top: 1px solid $brand-primary;
  &.hr-xs {
    width: 30px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 15px;
  }
  &.hr-lg {
    width: 80%;
  }
}

/* -----------------------------------------
DOM
----------------------------------------- */

#page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  background: #fff;
  z-index: 500;
}

#page-content {
  padding-top: 140px;
}

#page-footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px 0 20px 0;
  color: #fff;
  img {
    width: 300px;
  }
  .tagline {
    margin-bottom: 0;
    font-size: 31px;
    span {
      display: inline-block;
      padding-top: 25px;
      padding-bottom: 25px;
      position: relative;
      &:nth-of-type(1) {
        padding-right: 40px;
        &:after {
          content: '';
          display: block;
          width: 8px;
          height: 10px;
          background-color: $brand-primary;
          position: absolute; 
          right: 15px;
          top: 50%;
          margin-top: -3px;
        }
      }
      &:nth-of-type(3) {
        padding-left: 40px;
        &:before {
          content: '';
          display: block;
          width: 8px;
          height: 10px;
          background-color: $brand-primary;
          position: absolute; 
          left: 15px;
          top: 50%;
          margin-top: -5px;
        }
      }
    }
  }
  address {
    line-height: 2;
    font-size: 15px;
  }
}

#social {
  .icon {
    color: #fff;
    padding-right: 10px;
  }
}

#mainnav {
  margin-bottom: 0;
  z-index: 20;
  .navbar {
    margin-bottom: 0;
  }
  .navbar-nav {
    margin-top: 45px;
    li {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
      padding: 10px 20px;
      color: $text-color;
      cursor: pointer;
      line-height: 1.4;
      &:hover {
        // color: $gray-dark;
      }
      &:hover, &:active, &:focus, &:visited {
        background: transparent;
      }
      &.active {
        font-weight: bold;
      }
      a {
        padding: 0;
        color: $text-color;
        line-height: 1.4;
        &:hover {
          // color: $gray-dark;
        }
        &:hover, &:active, &:focus, &:visited {
          background: transparent;
        }
        &.active {
          font-weight: bold;
        }
      }
    }
  }
  .navbar-brand {
    color: $gray;
    position: relative;
    z-index: 100;
    width: 180px;
    height: auto;
    padding-top: 22px;
    display: block;
  }
  .navbar-toggle {
    margin-top: 15px;
    margin-right: 0;
    .icon-bar {
      background: $brand-primary;
    }
  }
}

#topnav {
  width:100%;
  height: 40px;
  background-color: $gray-dark;
  text-align: right;
  position: relative;
  z-index: 502;
  button, input, a {
    display: inline-block;
    margin: 0 5px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background: transparent;
    border: none;
  }
  button {
    padding: 0;
  }
  input {
    background-color: transparent;
    border: none;
  }
  .icon {
    display: block;
    position: absolute;
    top: 13px;
    right: 0;
    color: #fff;
    cursor: pointer;
    //border-left: 1px solid #fff;
    padding-left:15px;
  }
  .content {
    padding: 0 20px;
  }
}

#topnav-drawer {
  padding: 7px 0;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include transition(.5s);
  color: #fff;
  &.active {
    top: 40px;
    opacity: 1;
    pointer-events: all;
    z-index: 501;
  }
  a {
    padding: 0 15px;
    color: #fff;
  }

}

.megaMenu {
  position: fixed;
  top: 140px;
  left: 0;
  // height: 155px;
  background-color: $brand-primary;
  opacity: 0;
  pointer-events: none;
  // height: 0;
  width: 100%;
  @include transition(.5s);
  &.active {
    opacity: 1;
    //height: auto;
    z-index: 499;
    pointer-events: all;
    .container {
      opacity: 1;
    }
  }
  .container {
    padding: 20px 0;
    @include transition(.5s);
    opacity: 0;
  }
  ul {
    li {
      a {
        color: #fff;
        font-size: 20px;
      }
      ul {
        li {
          padding: 0;
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
  
  .content {
    border-left: 1px solid #fff;
    padding: 0 20px;
    height: 160px;
  }
}

#mobilenav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $brand-primary;
  color: #fff;
  .panel, .panel-group {
    background-color: transparent;
    border: none;
    color: #fff;
    box-shadow: none;
    .panel-body {
      border-top: none;
    }
    ul {
      li {
        padding: 0;
        a {
          color: #fff;
          display: block;
        }
      }
    }
  }
  .panel-title {
    a {
      display: block;
      position: relative;
      &.collapsed {
        .icon-plus {
          opacity: 1;
        }
        .icon-minus {
          opacity: 0;
        }
      }
    }
  }
  .icon, a {
    color: #fff;
  }
  .icon-plus, .icon-minus {
    position: absolute;
    right: 0;
    top: 0;
    @include transition(.5s);
  }
  .icon-plus {
    opacity: 0;
  }
  .icon-minus {
    opacity: 1;
  }
  .icon-search {
    cursor: pointer;
  }
  .icon-cross {
    position: absolute;
    right: 20px;
    top: 17px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .social {
    margin-top: 10px;
    .icon {
      margin-right:10px;
      font-size: 18px;
    }
    
  }
}

#confirmation, #confirmation-careers {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: white;
  text-align: center;
  padding: 50px 0;
  .close {
    opacity: 1;
    font-weight: 100;
    top: -20px;
    right: 40px;
  }
}

@media all and (max-width: 991px) {
  #mainnav {
    .navbar-nav {
      li {
        font-size: 13px;
        padding: 10px;
      }
    }
  }
  .megaMenu {
    ul {
      li {
        padding: 5px 0;
        a {
          font-size: 18px;

        }
      }
    }
  }

}

@media all and (min-width: 768px) {
  #social {
    position: absolute;
    right: 0;
    bottom: 25px;
  }
}

@media all and (max-width: 767px) {
  section {
    padding: 25px 0;
    &.intro {
      padding: 60px 0;
    }
  }
  h1 {
    font-size: 28px;
  }

  #page-header {
    height: auto;
    .navbar-brand {
      width: 140px;
      padding-top: 10px;
    }
  }

  #topnav {
    display: none;
  }

  #mainnav {
    .nav {
      display: none;
    }
  }
  .megaMenu {
    display: none;
  }
  
  
  #mobilenav {
    display: block;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    @include transition(.5s);
    &.active {
      pointer-events: all;
      opacity: 1;
      z-index: 999;
    }
  }
  #page-content {
    padding-top: 60px;
  }
  #page-footer {
    padding-top: 30px;
    img {
      width: 250px;
      margin-bottom: 30px;
    }
    .tagline {
      font-size: 20px;
      span {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        &:nth-of-type(1), &:nth-of-type(2) {
          padding-right: 0;
          &:after {
            content: '';
            display: block;
            width: 8px;
            height: 10px;
            background-color: $brand-primary;
            position: absolute; 
            right: 35%;
            top: 50%;
            margin-top: -3px;
          }
        }
        &:nth-of-type(3) {
          padding-left: 0;
          &:before {
            display: none;
          }
        }
      }
    }
  }
  #social {
    margin: 30px 0;
    .icon {
      font-size: 24px;
      padding-right: 20px;
    }
  }
}