$width: 32%;
$cols: 3;

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  .grid-item-33 {
    width: 32%;
  }
  .grid-item-25 {
    width: 24%;
  }
  .grid-item-66 {
    width: 66%;
  }
  .grid-item-15 {
    width: 15%;
  }
  &.start {
    justify-content: flex-start;
    .grid-item-33, .grid-item-25 {
      margin-right: 1%;
    }
  }
  &.center-grid {
    align-items: center;
    justify-content: center;
  }
  &.team-grid {
    .grid-item-33, .grid-item-25 {
      margin-bottom: 20px;
    }
    h2 {
      font-weight: 100;
    }
  }
}

@media all and (max-width: 991px) {
  .grid {
    .grid-item-33 {
      width: 49%;
      margin-left: 0 !important;
    }
  }
}

@media all and (max-width: 767px){
  .grid {
    .grid-item-33, .grid-item-25, .grid-item-66, .grid-item-15 {
      width: 100%;
    }
    &.team-grid {
      .grid-item-33, .grid-item-25 {
        width: 100%;
        display: flex;
        .bio-image, .bio-details {
          width: 50%;
        }
        .bio-details {
          padding: 0 20px;
          align-self: center;
          h2 {
            margin-top: 0;
          }
          h5 {
            font-size: 14px;
          }
        }
      }
      h2 {
        font-size: 19px;
      }
      h5 {
        font-size: 15px;
      }
    }
  }
}