.hero {
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-color: rgba(0,0,0,.5);
  background-blend-mode: multiply;
  overflow: hidden;
  display: flex;
  align-items: center;
  .hero-caption {
    bottom: -50%;
    width: 100%;
    padding: 20px;
    transition: all 1.5s ease;
    &.in-view {
      bottom: 0;
    }
    .caption-bg {
      opacity: 0;
      // width: 45%;
      // margin: 0 auto;
      
    }
    h1, h2, h3, h4, h5, h6, p {
      color: #fff;
    }
    h1 {
      font-weight: 900;
    }
    p {
      font-size: 20px;
    }
  }
}

@media (max-width: 767px) {
  .hero {
    height: 325px;
    .hero-caption {
      padding: 0 10px;
      h1 {
        font-size: 30px;
        margin: 10px 0;
      }
      h2 {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
    &.our-story-hero, &.who-we-are-hero, &.about-us-hero {
      background-position: left center;
    }
  }
}