
#overview {
  &.active {
    img {
      display: block;
    }
    .img-wrapper {
      height: auto;
    }
  }
  img {
    width: 250px;
    display: none;
  }
  .img-wrapper {
    height: 250px;
  }
}

@media all and (max-width: 991px){
  #overview {
    img {
      display: block;
    }
  }
}

@media all and (max-width: 767px){
  #overview {
    img {
      margin: 0 auto;
    }
  }
}