//homepage post feed
#post-feed {
  h2 {
    font-size: 24px;
  }
} 

// post-image class for homepage post feed
.post-image {
  display: block;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
} 

.share-link {
  color: $text-color;
  padding-right: 20px;
  i {
    color: $brand-primary;
    margin-right: 7px;
    font-size: 20px;
  }
}

.author-row {
  h1 {
    margin-top: 0;
  }
}

#author {
  padding-top: 0;
}

#post-sponsors {
  .grid-item-25 {
    img {
      display: block;
      margin: 20px auto;
    }
    
  }
}