//Project template 
.project-nav {
  a {
    color: $text-color;
    .caret {
      border-top: 4px solid $brand-primary;
    }
    &:nth-of-type(1) {
      .caret {
        transform: rotate(90deg);
        margin-right: 5px;
      }
    }
    &:nth-of-type(2) {
      .caret {
        transform: rotate(-90deg);
      }
    }
  }
}