#search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: $brand-primary;
  color: #fff;
  justify-content: center;
  align-items: center;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  @include transition(.5s);
  &.active {
    z-index: 1000;
    pointer-events: all;
    opacity: 1;
  }
  .close-search {
    position: absolute;
    top: 10px;
    right: 15px; 
    color: #fff;
    font-weight: 100;
    font-size: 22px;
    cursor: pointer;
  }
  .form-group {
    position: relative;
  }
  .form-control {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    position: relative;
    padding-left: 0;
  }
  .icon-search {
    position: absolute;
    top: 11px;
    right: 0;
    font-size: 20px;
    color: #fff;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    text-transform: uppercase;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    text-transform: uppercase;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    text-transform: uppercase;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #fff;
    text-transform: uppercase;
  }
}

#site-search-results {
  display: none;
}