.project-image {
  height: 225px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @include transition(.5s);
  &:hover {
    background-color: rgba(0,0,0,.35);
    background-blend-mode: multiply;
  }
}

#general-contracting {
  .row {
    &:nth-of-type(2) {
      .content {
        padding-top: 0;
      }
    }
  }
  h3 {
    margin-top: 0;
  }
}

#general-contracting, #construction-management, #virtual-building {
  .styled {
    color: $brand-primary;
    span {
      color: $text-color;
    }
  }
}

@media all and (max-width: 767px) {
  #safety {
    img {
      max-width: 300px;
    }
  }
}