/* -----------------------------------------
General class styles
----------------------------------------- */
.content {
  padding: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 900;
}

.read-more {
  position: relative;
  padding-left: 14px;
  display: block;
  color: $text-color;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: $brand-primary;
    top: 50%;
    left: 0;
    margin-top: -4px;
  }
}

.divider {
  padding: 35px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  a {
    color: #000000;
  }
}

.white {
  color: #fff;
}

.black {
  background-color: $black;
  color: $gray-light;
  h1, h2, h3, h4, h5, h6 {
    color: $gray-light;
  }
}

.list-icon {
  list-style-type: none;
  padding-left: 0;
  li {
    position: relative;
    padding: 10px 0; 
    text-transform: uppercase;
    img {
      width: 110px;
      margin-right:10px;
    }
  }
}

.caret {
  &.caret-left {
    transform: rotate(90deg);
    border-top: 6px solid $brand-primary;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin: -2px 7px 0 0;
  }
  &.caret-right {
    transform: rotate(-90deg);
    border-top: 6px solid $brand-primary;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin: -2px 7px 0 0;
  }
  &.white {
    border-top: 6px solid #fff;
  }
}

.gray-med-dark {
  background-color: $gray-med-dark;
}

.gray-lighter {
  background-color: $gray-lighter;
}

.gray-light {
  background-color: $gray-light;
}

.gray {
  background-color: $gray;
}

.gray-dark {
  background-color: $gray-dark;
  color: $gray-light;
  h1, h2, h3, h4, h5, h6 {
    color: $gray-light;
  }
}

.brand-primary {
  background-color: $brand-primary;
}

hr.hr-gray {
  border-top: 1px solid $gray;
}



@media(max-width: 767px) {
  .list-icon {
    li {
      display: flex;
      position: relative;
      padding: 20px 0; 
      align-items: center;
      img {
        width: 25%;
        margin-right:10px;
      }
    }
  }
}