#values {
  .animation {
    &.active {
      svg {
        display: block;
      }
      .img-wrapper {
        height: auto;
      }
    }
    svg {
      width: 250px;
      display: none;
    }
  }
  .grid {
    flex-wrap: nowrap;
  }
  .img-wrapper {
    height: 250px;
  }
}

@media all and (max-width: 767px) {
  #values {
    .animation {
      svg {
        display: block;
      }
    }
    .grid {
      flex-wrap: wrap;
    }
  }
}