/* -----------------------------------------
   Variables
----------------------------------------- */

$brand-primary:     #f27134; //brand orange
$orange-dark:       #976826;
$black:             #0D0D0D;
$gray-dark:         #231f20;
$gray-med-dark:     #414042;
$gray:              #58595B;
$gray-light:        #eeeeee;
$gray-lighter:      #F0F1F1;
$white:             #fff;

$border-radius-base: 0;

$text-color:    $gray-dark;
$font-size-base:          16px;
$font-family-sans-serif:  'Source Sans Pro', sans-serif;
$headings-font-family:    'Source Sans Pro', sans-serif;
$headings-font-weight:    300;
$headings-color:          $gray-dark;

$font-size-h1:            35px;
$font-size-h2:            30px;
$font-size-h3:            18px;
$font-size-h4:            16px;
$font-size-h5:            $font-size-base;
$font-size-h6:            13px;

$btn-font-weight:         400;
$btn-default-color:       #fff;
$padding-base-vertical:   10px;
$padding-base-horizontal: 35px;
$border-radius-base:      0;