.video-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 100%;
  text-shadow: 1px 2px 3px rgba(0,0,0,.5);
  background-color: rgba(0,0,0,.55);
  background-blend-mode: multiply;
  @include transition(.5s);
  &:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.65);
  }
  .overlay-caption {
    color: #fff;
  }
  img {
    width: 125px;
  }
}