---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "variables";
@import "bootstrap";
@import "mixins";
@import "animate";
//@import "venobox";
@import "fonts";
@import "card";

@import "_bootstrap-overwrites";
@import "_global";
@import "_search";
@import "_utils";
@import "_hero";
@import "_grid";
@import "_bio";
@import "_carousel";
@import "_home";
@import "_story";
@import "_values";
@import "_project";
@import "_blog";
@import "_post";
@import "_services";
@import "_careers";
@import "_video";
@import "_flexslider-overwrites";
@import "_events";
@import "_slick";
@import "_community-event";
@import "_cognito-forms";

a.btn {
  color: #fff;
  background-color: #f27134;
}