---
layout: page
title: Blinderman Concrete
---

<section class="gray-light">
  <div class="container">
    <div id="about" class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>About Blinderman Concrete</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam sit veniam, maxime voluptas inventore debitis nisi ipsum recusandae porro, repudiandae odit dolores obcaecati eligendi rem cupiditate? Possimus qui officiis odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci esse similique aspernatur vero possimus voluptate ipsum odit nihil, veritatis hic consequatur, inventore saepe earum fuga, error at illum sapiente dolorem.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti nostrum numquam, facere repudiandae distinctio iusto dignissimos! Vel, quae, alias odio, quis illum sed eligendi doloribus rerum, culpa est porro ad.</p>
        </div>
      </div>
    </div>
    <hr class="hr-lg">
    <div id="#projects" class="row">
      <div class="col-xs-12">
        <div class="content">
          <div class="grid"> 
            <!-- logic for when we have more project data -->
            <!-- {% for project in site.projects %}
              {% if project.services contains 'blinderman-concrete' %}
                <a href="#" class="card grid-item-33 blend-overlay" style="background-image: url({{ project.project_preview_image }})">
                  <div class="card-content">
                    <h2>{{ project.title }}</h2>
                    <p>{{ project.subtitle }}</p>
                  </div>
                </a>
              {% endif %}
            {% endfor %} -->
            <a href="#" class="card grid-item-33 blend-overlay" style="background-image: url(/img/expertise/Phillips_01.17.17_005.jpg)">
              <div class="card-content">
                <h2>Blinderman Concrete 01</h2>
                <p>Subheadline on the work Blinderman has done in this sector</p>
              </div>
            </a>
            <a href="#" class="card grid-item-33 blend-overlay" style="background-image: url(/img/expertise/GLNB_10.08_10.jpg)">
              <div class="card-content">
                <h2>Blinderman Concrete 02</h2>
                <p>Subheadline on the work Blinderman has done in this sector</p>
              </div>
            </a>
            <a href="#" class="card grid-item-33 blend-overlay" style="background-image: url(/img/expertise/UofChg_MRI001.jpg)">
              <div class="card-content">
                <h2>Blinderman Concrete 03</h2>
                <p>Subheadline on the work Blinderman has done in this sector</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
