---
layout: page
title: Careers
hero_image: /img/careers/careers-header.jpg
testimonial_slides:
  - slide_image: /uploads/margo.jpg
    testimonial: >-
      We’re in it together – it’s great to work with and learn from experienced
      and dedicated people.
    author: 'Margo Olson, Senior Project Manager'
  - slide_image: /uploads/ahmed-testimonial.jpg
    testimonial: >-
      I work in an environment in which they invest heavily on promoting growth
      and development of their employees. You can't beat that!
    author: 'Antwan Ahmed, Project Engineer'
  - slide_image: /uploads/spooly.jpg
    testimonial: >-
      At Blinderman I’m part of a team where our effort, drive, and passion is
      equally shared.
    author: 'Brent “Spooly” Spoolstra, Senior Estimator'
  - slide_image: /uploads/brittany.jpg
    testimonial: "I appreciate the opportunity to try on different hats, and to be exposed to a variety of positions within one company.\_Other companies don’t offer this kind of mobility, but achieving a big-picture perspective through experience is within reach at Blinderman."
    author: 'Brittany Long, Safety Director'
  - slide_image: /uploads/conor.jpg
    testimonial: >-
      There is a sense of community throughout the company. It’s not often where
      any one employee can feel completely comfortable walking in to the
      executive’s office and starting a conversation.
    author: 'Conor Malaney, Senior Project Manager'
career_calendar:
  - date_info:
    event_title: To be announced...
---

{% include hero.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1 class="editable">
            Be the Best, Make an Impact at Blinderman
          </h1>
          <p class="editable">
            As Blinderman grows we continue to add to our team, and we are always looking for talented construction professionals in:
          </p>
          <ul class="styled">
            <li>Preconstruction / Estimating</li>
            <li>Project Management</li>
            <li>On-Site Superintendence</li>
          </ul>
          <p class="editable">
            We offer the opportunity to work with a tight-knit, great bunch of people in a rapidly evolving environment where every project is different and unique. Your contribution will be valued from day one, and you will be given stimulating challenges so you can learn, grow and advance.
          </p>
        </div>
      </div>
    </div>
    <div id="benefits">
      <div class="row">
        <div class="col-xs-12">
          <div class="content">
            <h1 class="editable">
              Benefits &amp; Perks
            </h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="content">
            <img src="/img/careers/01-challenge.svg" alt="Challenge Graphic" />
            <h2 class="editable">
              Challenge
            </h2>
            <p class="editable">
              The opportunity for growth in a fast-paced progressive company is yours for the taking. Game on!
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="content">
            <img src="/img/careers/02-training.svg" alt="Training Graphic" />
            <h2 class="editable">
              Training
            </h2>
            <p class="editable">
              From informal mentoring, to planned training sessions, to lunchtime programs, every day at Blinderman offers opportunity to learn.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="content">
            <img src="/img/careers/04-office.svg" alt="Office Graphic" />
            <h2 class="editable">
              Office
            </h2>
            <p class="editable">
              An open, casual and collaborative space in the heart of the West Loop. Our kitchen is fully-stocked with snacks and "The Corner" is the place for shuffleboard and our PS4.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="content">
            <img src="/img/careers/03-fun.svg" alt="Fun Graphic" />
            <h2 class="editable">
              Fun
            </h2>
            <p class="editable">
              Quarterly Staff Events, Blindy Awards, doughnuts, shuffleboard, and volleyball? Yes!
            </p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="content">
            <img src="/img/careers/05-benefits.svg" alt="Benefits Graphic" />
            <h2 class="editable">
              Benefits
            </h2>
            <p class="editable">
              Great health coverage with dental and vision benefits, competitive salaries, cellphone reimbursement, 401k plan and bonus structure.
            </p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="content">
            <img src="/img/careers/06-paid-time-off.svg" alt="Calendar Graphic Graphic" />
            <h2 class="editable">
              Paid Time Off (PTO)
            </h2>
            <p class="editable">
              Our PTO program encourages a healthy work/life balance and promotes a flexible self-managed approach to time off.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include carousel-testimonials.html %}
<section id="career-contact" class="gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>Get Started</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content">
          <p class="editable">
            If you like new ideas, challenges, and want to work with people who enjoy working together as real partners, we want to hear from you.<br />Get busy &mdash; send us your resume. PDF file preferred.
          </p>
          <div class="cognito">
          <script src="https://services.cognitoforms.com/s/bbN8iw1MJUqjPe6aHn-_rw"></script>
          <script>Cognito.load("forms", { id: "15" });</script>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content">
          <img src="/img/careers/get-started@2x.jpg" class="img-responsive editable" alt="Image of Blinderman Team" />
        </div>
      </div>
    </div>
  </div>
</section>
<section id="internships">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>Internship Opportunities</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content">
          <p class="editable">
            Not quite sure how you might fit into the world of construction? Our internship program is designed to be a holistic experience. Your time with us includes working side-by-side with our talented professionals in Preconstruction, Project Management and out on a jobsite in the field. Exposure to the full gamut of what we do and how we do it will help you to find where your own passion lies.
          </p>
          <h3 class="editable">
            Recruitment Fairs
          </h3>
          <p class="editable">
            Blinderman Construction recruits in the fall for summer internships. We seek outstanding candidates studying in the fields of construction management, civil engineering, and architecture. This year we will be represented at the following recruitment fairs. If your college or university is not listed, please feel free to submit your resume for consideration.
          </p>
          <a href="mailto:h.resources@blinderman.com" class="read-more">Send Us Your Resume</a>
          <h3>Upcoming Events</h3>
          {% if page.career_calendar %}
          {% for obj in page.career_calendar %}
          <h5><strong>{{ obj.event_title }}</strong></h5>
          <p>{{ obj.date_info }}</p>
          {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="content">
          <img class="img-responsive editable" alt="Image of Blinderman Interns" src="/uploads/img-3511.jpg" width="900" srcset="/uploads/img-3511.jpg 900w, /uploads/img-3511@2x.jpg 1800w" />
        </div>
      </div>
    </div>
  </div>
</section>
