---
layout: default
title: Example Community Event
hero_image: /uploads/our-values.jpg
hero_title: Our Commitment
hero_paragraph: 'At Blinderman, we believe we can – and should – make a positive impact on the communities we serve. One person, one project, and one initiative at a time.'
---

{% include hero.html %}
<section id="community-event">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <img src="http://via.placeholder.com/768x250" class="img-responsive center-block event-image" alt="">
          <h1>Lorem Community Event Title</h1>
          <p>Donut you love to run for donuts?</p>
          <p>Come join us at the 2nd Annual Stan's Donut 5K &amp; Kids Dash on Saturday, August 11, 2018 at 8:00 a.m. donut5k.com</p>
          <p>Date &amp; Location: Saturday, August 11, 2018 at Montrose Harbor, Chicago, IL</p>
          <p>5K RUN: 8:00 AM</p>
          <p>5K WALK: 9:00 AM</p>
          <p>Kids Dash 1/2 Mile: 10:30 AM</p>
          <p>Start/Finish: Montrose Harbor - Running Paths</p>
          <p><small>The Greater Chicago Food Depository provides food for hungry people while striving to end hunger in our community. Last year, the Food Depository distributed 70 million pounds of food, 35% of which was fresh produce. Every day we distribute the equivalent of 160,000 meals. Help support our work in your community</small></p>
          <p><a href="#" class="back-button"><span class="caret"></span> Back to all projects</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>Participants</h1>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="content">
          <div class="grid team-grid start">
            {% for item in (1..8) %}
            <div class="grid-item-25">
              <a href="#" class="bio-image">
                <img src="http://via.placeholder.com/500x500" class="img-responsive" alt=" image">
              </a>
              <a href="#" class="bio-details">
                <h2>Firstname Lastname</h2>
                <h5 class="uppercase">Job title</h5>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>Other Community Events</h1>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="content">
          {% include carousel-community-events.html %}
        </div>
      </div>
    </div>
  </div>
</section>