---
layout: page
title: Contact
hero_image: /uploads/contact.jpg
hero_title: Get In Touch
hero_paragraph: Thank you for your interest in Blinderman.
---
{% include hero.html %}
<section id="contact" class="gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="content">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.2957071263004!2d-87.64731668455862!3d41.886497179221486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2ccf6e235a99%3A0x522c55621cbe0904!2s224+N+Desplaines+St+%23650%2C+Chicago%2C+IL+60661%2C+USA!5e0!3m2!1sen!2sca!4v1496159876451" width="300" height="300" frameborder="0" style="border:0; max-width: 100%;" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="content">
          <p class="text-uppercase">Main Office:</p>
          <address class="lead">
            224 North Desplaines Street, Suite 650<br>Chicago, Illinois
          </address>
          <p class="text-uppercase">Main: 312.982.2600</p>
          <p class="text-uppercase">Fax: 312.496.3047</p>
          <p class="text-uppercase">Email: <a href="mailto:info@blinderman.com">info@blinderman.com</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <div class="cognito">
          <script src="https://services.cognitoforms.com/s/bbN8iw1MJUqjPe6aHn-_rw"></script>
          <script>Cognito.load("forms", { id: "14" });</script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>