---
layout: homepage
title: Home
carousel_slides:
  - slide_image: /uploads/west-loop-branch-hero.jpg
    title_html: <h1>Adaptive Reuse in the West Loop</h1>
    subtitle: West Loop Library
    summary: >-
      Blinderman Construction collaborated with developer Sterling Bay and
      renowned architectural firm Skidmore Owings & Merrill to deliver this much
      needed public library and community center to the residents of the
      transformed West Loop neighborhood.
    link: /projects/west-loop-library
  - slide_image: /uploads/feauture-04.jpg
    title_html: >-
      <h1>Working with United Airlines airside at O&rsquo;Hare
      International.</h1>
    subtitle: United Hangars 710/770
    summary: >-
      Working airside at O’Hare International Airport presents specific
      challenges...
    link:
  - slide_image: /uploads/feauture-05.jpg
    title_html: >-
      <h1>21st century comfort and convenience integrated with the classic
      elegance of a bygone era.</h1>
    subtitle: Hotel Phillips
    summary: >-
      The Hilton Curio brand is a curated collection of unique  properties that
      appeal to travelers seeking a truly local  experience.
    link: /projects/hotel-philips
  - slide_image: /uploads/feauture-02.jpg
    title_html: <h1>Building for learning in an urban environment.</h1>
    subtitle: Abraham Lincoln Elementary School
    summary: >-
      Project logistics were very challenging on this tight urban site situated
      in a residential and politically charged neighborhood environment.
    link: /projects/abraham-lincoln
  - slide_image: /uploads/feauture-03.jpg
    title_html: <h1>Ensuring U.S. warfighter readiness with a high-tech facility.</h1>
    subtitle: U.S. Navy Drug Screening Laboratory
    summary: >-
      This facility supports the Navy’s mission to ensure warfighter readiness
      by deterring illegal drug use through accurate forensic drug testing.
    link: /projects/u-s--navy-drug-screening-lab
---

{% include carousel.html %}

<section class="gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <p class="lead editable">
            For more than 50 years, Blinderman Construction has provided a full range of construction services to satisfied customers in the Chicagoland area and beyond. A family-owned firm, we bring a thorough commitment to partnership, an evolved understanding of the construction industry, and a solid record of outstanding past performance to your important project.&nbsp;<br /><br />This deep experience arms us with the ability to react with ingenuity &ndash; transforming your unique vision into a successful reality. Working with Blinderman you get hands-on, committed ownership along with a dedicated and accomplished staff with the wherewithal, skill and urgency to get your job done right. &nbsp;<u></u><u></u> <u></u>&nbsp;<u></u> <u></u>&nbsp;
          </p>
        </div>
      </div>
    </div>
    <hr class="hr-lg" />
    <div class="row" id="overview">
      <div class="col-xs-12 col-md-4">
        <div class="content">
          <div class="img-wrapper">
            <img src="/img/home/home-overview-01.svg" class="img-responsive animated fadeIn" alt="" />
          </div>
          <h2 class="bold">Our Value</h2>
          <p class="editable">
            With singular care, we create smart solutions that deliver certain success.
          </p>
          <a href="{{ site.baseurl }}/our-value" class="read-more">Read More</a>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="content">
          <div class="img-wrapper">
            <img src="/img/home/home-overview-02.svg" class="img-responsive animated fadeIn" alt="" />
          </div>
          <h2 class="bold">Our Work</h2>
          <p class="editable">
            As a full-service general contractor&mdash;safe, early completion, high quality and broad expertise are the hallmarks of our work.
          </p>
          <a href="{{ site.baseurl }}/our-work" class="read-more">Read More</a>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="content">
          <div class="img-wrapper">
            <img src="/img/home/home-overview-03.svg" class="img-responsive animated fadeIn" alt="" />
          </div>  
          <h2 class="bold">Our Services</h2>
          <p class="editable">
            From general contracting to historic renovation. Blinderman&rsquo;s specialties are comprehensive. Our broad knowledge base is fully integrated into our process propelling us to execute on the best solutions.
          </p>
          <a href="{{ site.baseurl }}/our-services" class="read-more">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="post-feed">
  <div class="container">
    <div class="row">
      {% assign posts = site.posts | where: "exclude_from_homepage", false %}
      {% for post in posts limit:3 %}
      <div class="col-xs-12 col-md-4">
        <div class="content">
          <a href="{{ post.url }}" class="post-image" style="background-image: url({{ post.image }});">
          </a>
          <h2>{{ post.title }}</h2>
          <hr class="hr-xs" />
          <p>{{ post.content | truncate: 150 }}</p>
          <a href="{{ post.url }}" class="read-more">Read More</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>    
</section>
