---
layout: page
title: About Us
hero_image: /uploads/our-values.jpg
hero_title: Our Value
hero_paragraph: 'With singular care, we create smart solutions that deliver certain success.'
---

{% include hero.html %}
<section id="values">
  <div class="container">
    <div id="animation-idea" class="row animation">
      <div class="col-xs-12">
        <div class="grid center-grid">
          <div class="content text-center grid-item-33">
            <div class="img-wrapper">
              <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 320"><defs><style>.cls-1{fill:#231f20;}</style></defs><title>about-values</title>
                <g class="animated fadeIn delay2">
                  <rect class="cls-1" x="159.32" y="55.46" width="1" height="22.38" />
                  <rect class="cls-1" x="120.06" y="65.98" width="1" height="22.38" transform="translate(-22.43 70.62) rotate(-30)" />
                  <rect class="cls-1" x="91.33" y="94.71" width="1" height="22.38" transform="translate(-45.8 132.48) rotate(-60)" />
                  <rect class="cls-1" x="70.12" y="144.66" width="22.38" height="1" />
                  <rect class="cls-1" x="188.25" y="76.67" width="22.38" height="1" transform="translate(32.84 211.23) rotate(-59.98)" />
                  <rect class="cls-1" x="216.99" y="105.4" width="22.38" height="1" transform="translate(-22.38 128.25) rotate(-29.99)" />
                  <rect class="cls-1" x="227.5" y="144.66" width="22.38" height="1" />
                </g>
                <path class="cls-1 animated fadeInUp delay1" d="M213,145.47a53.29,53.29,0,0,0-53-53.19v0.5l-0.07-.5h-0.29a53.29,53.29,0,0,0-53,53.19c0,16.83,9.48,32.33,15.13,40.06,7.73,10.58,12.45,27.95,15.08,40.93a3.9,3.9,0,0,0-1,7.17,3.89,3.89,0,0,0,0,6.76,3.89,3.89,0,0,0,0,6.76,3.91,3.91,0,0,0,2,7.31h4.71a19.93,19.93,0,0,0,34.63,0h4.71a3.91,3.91,0,0,0,2-7.31,3.89,3.89,0,0,0,0-6.76,3.89,3.89,0,0,0,0-6.76,3.9,3.9,0,0,0-1-7.17c2.64-13,7.36-30.35,15.08-40.93C203.53,177.79,213,162.3,213,145.47Zm-53.2,118a18.88,18.88,0,0,1-16.06-9h32.12A18.88,18.88,0,0,1,159.82,263.45Zm24.86-12.9a2.84,2.84,0,0,1-2.84,2.84h-44a2.84,2.84,0,1,1,0-5.68h44A2.84,2.84,0,0,1,184.68,250.55Zm0-6.76a2.84,2.84,0,0,1-2.84,2.84h-44a2.84,2.84,0,0,1,0-5.68h44A2.84,2.84,0,0,1,184.68,243.79Zm0-6.76a2.84,2.84,0,0,1-2.84,2.84h-44a2.84,2.84,0,0,1,0-5.68h44A2.84,2.84,0,0,1,184.68,237Zm0-6.76a2.84,2.84,0,0,1-2.84,2.84h-44a2.84,2.84,0,0,1,0-5.68h44A2.84,2.84,0,0,1,184.68,230.26ZM167.4,195a7.8,7.8,0,0,0-15.16,0L141,159.47h37.71ZM153,196.87a6.81,6.81,0,0,1,13.62,0v29.46H153V196.87Zm28.8,29.46H167.63V197.61l13.62-42.94-0.95-.32L179,158.47H140.65l-1.31-4.13-0.95.32L152,197.61v28.73H137.82c-2.66-13.1-7.43-30.66-15.26-41.39C117,177.3,107.62,162,107.62,145.47a52.29,52.29,0,0,1,52-52.19h0.1l0.08-.5,0.08,0.5H160a52.29,52.29,0,0,1,52,52.19c0,16.54-9.36,31.83-14.94,39.47C189.24,195.68,184.47,213.24,181.81,226.33Z" />
              </svg>
            </div>
          </div>
          <div class="content grid-item-66">
            <h2 class="editable">You have a great idea</h2>
            <div class="editable"><p>An inspired thought, a conversation, scribbles and numbers on scraps of paper...<br />Or maybe your idea is the result of a long and logical progression.<br />However it came to be, you have a great idea.</p></div>
          </div>
        </div>
      </div>
    </div>
    <div id="animation-reality" class="row animation">
      <div class="col-xs-12">
        <div class="grid center-grid">
          <div class="content text-center grid-item-33">
            <div class="img-wrapper">
              <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 320"><defs><style>.cls-1{fill:#231f20;}</style></defs><title>about-values</title>
                <g class="animated fadeIn delay2">
                  <path class="cls-1" d="M202.41,240l-0.76.65,5.21,6h-39.4v-24h-1v24.51a29.53,29.53,0,0,1-29.5,29.5H58.11c-0.65,0-1.29,0-1.93-.07V167.43l5.67,4.91,0.65-.76-6.82-5.91-6.82,5.91,0.65,0.76,5.67-4.91v109.1a29.54,29.54,0,0,1-26.57-29.35V98.61a29.53,29.53,0,0,1,29.5-29.5H178l-4.91,5.67,0.76,0.65,5.91-6.82-5.91-6.82-0.76.65L178,68.11H58.11a30.53,30.53,0,0,0-30.5,30.5V247.18a30.53,30.53,0,0,0,30.5,30.5H137a30.53,30.53,0,0,0,30.49-30h38.81L201.66,253l0.76,0.65,5.17-6h0.07v-0.08l0.66-.76Z" />
                  <path class="cls-1" d="M204.17,48.39l-0.56-.83c-0.67.45-1.34,0.93-2,1.44l0.62,0.79C202.87,49.3,203.52,48.83,204.17,48.39Z" />
                  <path class="cls-1" d="M208.28,46.08l-0.42-.91c-0.74.34-1.47,0.71-2.18,1.11l0.49,0.87C206.86,46.77,207.57,46.41,208.28,46.08Z" />
                  <path class="cls-1" d="M212.71,44.45l-0.27-1c-0.78.22-1.56,0.47-2.32,0.75l0.35,0.94C211.2,44.91,212,44.66,212.71,44.45Z" />
                  <path class="cls-1" d="M192.65,63l-0.94-.35c-0.28.75-.53,1.54-0.75,2.32l1,0.27C192.13,64.49,192.38,63.74,192.65,63Z" />
                  <path class="cls-1" d="M194.63,58.72l-0.87-.49c-0.4.7-.77,1.44-1.11,2.18l0.91,0.42C193.88,60.11,194.24,59.4,194.63,58.72Z" />
                  <path class="cls-1" d="M197.25,54.79l-0.79-.62c-0.5.64-1,1.3-1.44,2l0.83,0.56C196.3,56,196.77,55.41,197.25,54.79Z" />
                  <path class="cls-1" d="M200.46,51.32l-0.68-.73c-0.59.55-1.17,1.13-1.73,1.73L198.79,53C199.32,52.42,199.88,51.85,200.46,51.32Z" />
                  <path class="cls-1" d="M191.37,67.55l-1-.19c-0.16.79-.28,1.6-0.38,2.41l1,0.12C191.1,69.1,191.22,68.32,191.37,67.55Z" />
                  <path class="cls-1" d="M217.34,43.53l-0.12-1c-0.8.09-1.62,0.22-2.41,0.38l0.2,1C215.78,43.74,216.56,43.62,217.34,43.53Z" />
                  <path class="cls-1" d="M220.89,104.5a31.09,31.09,0,0,0,0-62.18l-1.21,0,0,1,1.17,0A30.09,30.09,0,1,1,190.8,73.41q0-.59,0-1.17l-1,0q0,0.6,0,1.2A31.13,31.13,0,0,0,220.89,104.5Z" />
                  <polygon class="cls-1" points="221.39 49.07 220.39 49.07 220.39 72.91 201.31 72.91 201.31 73.91 221.39 73.91 221.39 49.07" />
                  <rect class="cls-1" x="49.19" y="153.02" width="70.35" height="1" />
                  <path class="cls-1" d="M59.38,129.32H48.69v15.59h10.7V129.32Zm-1,14.59h-8.7V130.32h8.7v13.59Z" />
                  <path class="cls-1" d="M63.85,106v38.95h10.7V106H63.85Zm9.7,37.95h-8.7V107h8.7v36.95Z" />
                  <path class="cls-1" d="M79,120.36v24.55h10.7V120.36H79Zm9.7,23.55H80V121.36h8.7v22.55Z" />
                  <path class="cls-1" d="M94.17,84.36v60.55h10.7V84.36H94.17Zm9.7,59.55h-8.7V85.36h8.7v58.55Z" />
                  <path class="cls-1" d="M109.34,144.91H120V106h-10.7v38.95Zm1-37.95H119v36.95h-8.7V107Z" />
                  <path class="cls-1" d="M253.71,182.4a2.57,2.57,0,1,0-2.57-2.57A2.58,2.58,0,0,0,253.71,182.4Zm0-4.15a1.57,1.57,0,0,1,.33,3.11h-0.66A1.57,1.57,0,0,1,253.71,178.26Z" />
                  <path class="cls-1" d="M269.5,178.33h-4.44a4.67,4.67,0,0,0-4.63-4.16H247a4.67,4.67,0,0,0-4.63,4.16h-4.44a6.66,6.66,0,0,0-5.59,3H217.61v96.31h73.15V181.37H275.09A6.66,6.66,0,0,0,269.5,178.33Zm-31.59,1h5.41v-0.5a3.66,3.66,0,0,1,3.66-3.66h13.45a3.66,3.66,0,0,1,3.66,3.66v0.5h5.41a5.67,5.67,0,0,1,5.67,5.67v2.36H232.25V185A5.67,5.67,0,0,1,237.91,179.33Zm38.26,9v-1.82h9v86h-63v-86h9v1.82h44.92Zm13.59-6v94.31H218.61V182.37h13.18a6.63,6.63,0,0,0-.54,2.63v0.54h-10v88h65v-88h-10V185a6.63,6.63,0,0,0-.54-2.63h14.13Z" />
                  <path class="cls-1" d="M267.6,218.39a11.67,11.67,0,1,0-11.67-11.67A11.63,11.63,0,0,0,267.6,218.39Zm6.11-2.93-5.44-8.62,8.14-6.12A10.63,10.63,0,0,1,273.71,215.45Zm2.1-15.54-5.85,4.4-1.86,1.4v-9.66A10.57,10.57,0,0,1,275.81,199.91Zm-8.71-3.86v10.66s0,0,0,0a0.49,0.49,0,0,0,.06.23h0l0.08,0.12,0.13,0.21,5.48,8.68A10.67,10.67,0,1,1,267.1,196.05Z" />
                  <rect class="cls-1" x="231.75" y="198.8" width="17.28" height="1" />
                  <rect class="cls-1" x="231.75" y="204.69" width="17.28" height="1" />
                  <rect class="cls-1" x="231.75" y="210.58" width="17.28" height="1" />
                  <rect class="cls-1" x="231.75" y="216.48" width="17.28" height="1" />
                  <path class="cls-1" d="M231.15,235h8.1v-6.66l1.61-2.2-0.8-.59-1,1.34h-7.93V235Zm1-7.1h6.1V228l-3,4.13-1.58-1.78-0.75.66,2.4,2.7,3-4V234h-6.1v-6.1Z" />
                  <rect class="cls-1" x="245.18" y="230.7" width="33.51" height="1" />
                  <rect class="cls-1" x="245.18" y="242.19" width="33.51" height="1" />
                  <path class="cls-1" d="M239.13,238.41H231.2v8.1h8.11v-6.66l1.61-2.19-0.8-.59Zm-0.82,7.1H232.2v-6.1h6.11v0.12l-3,4.14-1.58-1.78-0.75.66,2.4,2.7,3-4v4.3Z" />
                  <rect class="cls-1" x="245.18" y="253.68" width="33.51" height="1" />
                  <path class="cls-1" d="M240.12,248.56l-1,1.34H231.2V258h8.11v-6.66l1.61-2.19ZM238.31,257H232.2v-6.1h6.11V251l-3,4.14-1.58-1.78-0.75.66,2.4,2.7,3-4V257Z" />
                  <path class="cls-1" d="M115,97.7a4.65,4.65,0,0,1-3-1.3l-0.74,1.11a5.91,5.91,0,0,0,3.3,1.5v1.92h1.17V99a3.26,3.26,0,0,0,3-3.38c0-4.18-5.42-3.4-5.42-6.22a1.79,1.79,0,0,1,1.94-1.87,3.09,3.09,0,0,1,2.37,1.11l0.86-1a4.28,4.28,0,0,0-2.76-1.48V84.24h-1.17v1.94a3.18,3.18,0,0,0-2.82,3.25c0,3.79,5.42,3.11,5.42,6.26A1.9,1.9,0,0,1,115,97.7Z" />
                  <rect class="cls-1" x="263.5" y="264.06" width="2.25" height="1" />
                  <rect class="cls-1" x="259.01" y="264.06" width="2.25" height="1" />
                  <rect class="cls-1" x="267.99" y="264.06" width="2.24" height="1" />
                  <rect class="cls-1" x="276.97" y="264.06" width="2.24" height="1" />
                  <rect class="cls-1" x="272.48" y="264.06" width="2.24" height="1" />
                  <rect class="cls-1" x="241.06" y="264.06" width="2.25" height="1" />
                  <rect class="cls-1" x="245.55" y="264.06" width="2.24" height="1" />
                  <rect class="cls-1" x="254.52" y="264.06" width="2.24" height="1" />
                  <rect class="cls-1" x="250.04" y="264.06" width="2.24" height="1" />
                  <path class="cls-1" d="M106.25,199.45a6.92,6.92,0,1,0-6.92,6.92A6.92,6.92,0,0,0,106.25,199.45Zm-12.83,0a5.92,5.92,0,1,1,5.92,5.92A5.92,5.92,0,0,1,93.42,199.45Z" />
                  <path class="cls-1" d="M217,136.09h75.42V86.45Zm74.42-1H220.31L291.39,88.3v46.79Z" />
                  <path class="cls-1" d="M280.9,124.6V107.78L255.35,124.6H280.9Zm-1-1H258.68l21.21-14v14Z" />
                  <path class="cls-1" d="M216.11,156.34h76.28V144.8H216.11v11.54Zm1-10.54h74.28v9.54h-1.76v-2.73h-1v2.73h-1.79v-2.73h-1v2.73h-1.79V151h-1v4.39h-1.79v-2.73h-1v2.73h-1.79v-2.73h-1v2.73H275.7V151h-1v4.39h-1.79v-2.73h-1v2.73h-1.79v-2.73h-1v2.73h-1.79V151h-1v4.39h-1.79v-2.73h-1v2.73h-1.79v-2.73h-1v2.73H259V151h-1v4.39h-1.79v-2.73h-1v2.73h-1.79v-2.73h-1v2.73h-1.79V151h-1v4.39h-1.79v-2.73h-1v2.73H245v-2.73h-1v2.73h-1.79V151h-1v4.39h-1.79v-2.73h-1v2.73h-1.79v-2.73h-1v2.73H233.9V151h-1v4.39h-1.79v-2.73h-1v2.73h-1.79v-2.73h-1v2.73h-1.79V151h-1v4.39h-1.79v-2.73h-1v2.73H220v-2.73h-1v2.73h-1.85V145.8Z" />
                  <path class="cls-1" d="M130,213.89H110.11l4.62-6.84,0.28-.45,0,0a18,18,0,1,0-31.29,0l0,0,4.91,7.28H68.7v31.78H130V213.89Zm-1,21.9H120v-20.9H129v20.9ZM84.8,206.5a17,17,0,1,1,29.07,0L99.34,228.08,85,206.85Zm4.43,8.39,10.1,15,10.1-15H119v20.9H69.7v-20.9H89.23ZM69.7,236.79H119v7.88H69.7v-7.88ZM120,244.68v-7.88H129v7.88H120Z" />
                </g>  
                <g class="animated fadeInUp delay1">  
                  <polygon class="cls-1" points="161.89 181.06 153.3 153.92 154.25 153.59 162.84 180.74 161.89 181.06" />
                  <polygon class="cls-1" points="172.04 181.06 171.09 180.74 179.68 153.59 180.63 153.92 172.04 181.06" />
                  <rect class="cls-1" x="154.73" y="156.06" width="24.46" height="1" />
                  <path class="cls-1" d="M180.83,204.06H153.1a2.63,2.63,0,0,1,0-5.26h27.72A2.63,2.63,0,0,1,180.83,204.06ZM153.1,199.8a1.63,1.63,0,0,0,0,3.26h27.72a1.63,1.63,0,0,0,0-3.26H153.1Z" />
                  <path class="cls-1" d="M180.83,208.32H153.1a2.63,2.63,0,0,1,0-5.26h27.72A2.63,2.63,0,0,1,180.83,208.32Zm-27.72-4.26a1.63,1.63,0,0,0,0,3.26h27.72a1.63,1.63,0,0,0,0-3.26H153.1Z" />
                  <path class="cls-1" d="M180.83,212.57H153.1a2.63,2.63,0,0,1,0-5.26h27.72A2.63,2.63,0,0,1,180.83,212.57Zm-27.72-4.26a1.63,1.63,0,0,0,0,3.26h27.72a1.63,1.63,0,0,0,0-3.26H153.1Z" />
                  <path class="cls-1" d="M180.83,216.83H153.1a2.63,2.63,0,0,1,0-5.26h27.72A2.63,2.63,0,0,1,180.83,216.83Zm-27.72-4.26a1.63,1.63,0,0,0,0,3.26h27.72a1.63,1.63,0,0,0,0-3.26H153.1Z" />
                  <path class="cls-1" d="M162.86,199.3V180.42a4.1,4.1,0,1,1,8.2,0V199.3h1V180.42a5.1,5.1,0,1,0-10.2,0V199.3h1Z" />
                  <path class="cls-1" d="M167.08,114.4h-0.23a33.72,33.72,0,0,0-33.55,33.66c0,10.65,6,20.44,9.56,25.33,4.91,6.73,7.89,17.85,9.53,26a2.1,2.1,0,0,1,.71-0.13h0.31c-1.64-8.26-4.65-19.53-9.75-26.5-3.5-4.79-9.37-14.37-9.37-24.74a32.72,32.72,0,0,1,32.55-32.66l0.06-.5,0.1,0.5h0.07a32.72,32.72,0,0,1,32.55,32.66c0,10.36-5.87,19.94-9.37,24.74-5.09,7-8.11,18.24-9.75,26.5h0.31a2.09,2.09,0,0,1,.71.13c1.64-8.19,4.62-19.31,9.53-26,3.57-4.89,9.56-14.68,9.56-25.33A33.72,33.72,0,0,0,167.08,114.4Z" />
                  <path class="cls-1" d="M177.1,216.33a11.72,11.72,0,0,1-20.27,0h-1.14a12.71,12.71,0,0,0,22.54,0H177.1Z" />
                </g>  
              </svg>
            </div>
          </div>
          <div class="content grid-item-66">
            <h2 class="editable">Making your idea a reality</h2>
            <p class="editable">That's where it gets complicated. There is an incredible amount of craftsmanship required to bring a great idea to reality. No matter the project type or budget or delivery method, construction is a very intricate process that involves tons of data, multiple considerations, constraints, requirements, and a myriad of critical components &mdash; all calling to be coordinated and connected in precise and perfect order.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="animation-build" class="row animation">
      <div class="col-xs-12">
        <div class="grid center-grid">
          <div class="content text-center grid-item-33">
            <div class="img-wrapper">
              <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 320"><defs><style>.cls-1{fill:#231f20;}</style></defs><title>about-values</title>
                <g class="animated fadeIn delay2">
                  <path class="cls-1" d="M130.63,123.61V279.07H290.34V123.61H130.63Zm141.24,26-16.1,17.16V132.49Zm-15.45,17.92,16.13-17.19,16.13,17.19H256.42Zm32.27,1-16.13,17.19-16.13-17.19h32.27Zm-16.82,17.92-16.1,17.16V169.32ZM256.42,204.4l16.13-17.19,16.13,17.19H256.42Zm32.27,1-16.13,17.19L256.42,205.4h32.27Zm-16.82,17.92-16.1,17.16V206.16Zm-15.45,17.92L272.56,224l16.13,17.19H256.42Zm32.27,1-16.13,17.19-16.13-17.19h32.27Zm-32.92.76,16.1,17.16-16.1,17.16V243Zm16.79,17.89,16.13,17.19H256.42Zm0.69-.73L289.34,243v34.31Zm0-36.84,16.1-17.16v34.31Zm0-36.84,16.1-17.16v34.31Zm0-36.84,16.1-17.16V166.8Zm-0.69-.73-16.13-17.19h32.27Zm-17.79,18.65V270.87H166.21V131.72h88.56v35.84ZM165.21,277.31l-16.1-17.16L165.21,243v34.31ZM147.74,149.64l-16.1,17.16V132.49Zm16.82,92.59-16.13,17.19-16.13-17.19h32.27Zm-32.27-1L148.42,224l16.13,17.19H132.29Zm16.82-17.92,16.1-17.16v34.31Zm15.45-17.92-16.13,17.19L132.29,205.4h32.27Zm-32.27-1,16.13-17.19,16.13,17.19H132.29Zm16.82-17.92,16.1-17.16v34.31Zm-0.69-.73-16.13-17.19h32.27Zm0.69-36.11,16.1-17.16V166.8Zm15.45,17.92H132.29l16.13-17.19Zm-16.82,18.92-16.1,17.16V169.32Zm0,36.84-16.1,17.16V206.16Zm0,36.84-16.1,17.16V243Zm0.69,0.73,16.13,17.19H132.29Zm0-112-16.13-17.19h32.27ZM254.77,278.07H166.21v-6.2h88.56v6.2Zm0-147.35H131.63v-6.11H289.34v6.11H254.77Z" />
                  <path class="cls-1" d="M95.47,76.42H238.68V94.24h-9.57v20.14h20.14V94.24h-9.57V65.44h-0.46L71.32,41l-0.18,0L30,65.44H29.66v11H70.74V251.28h-23v27.79h70.64V251.28h-23V76.42ZM248.25,95.24v18.14H230.11V95.24h8.57v0.07h1V95.24h8.57ZM71.74,42L232.29,65.44H71.74V42Zm-1,.3V65.44H32ZM30.66,75.42v-9h208v9h-208Zm41.09,1H94.47V251.28H71.74V76.42Zm45.68,175.86v25.79H48.78V252.28h68.64Z" />
                </g>
                <path class="cls-1 animated fadeInUp delay1" d="M181.56,209.2c5.82,8,9.38,21,11.37,30.84a3,3,0,0,0-.8,5.48,3,3,0,0,0,0,5.12,3,3,0,0,0,0,5.12,3.05,3.05,0,0,0,1.67,5.62h3.51a15.16,15.16,0,0,0,26.29,0h3.51a3.05,3.05,0,0,0,1.67-5.62,3,3,0,0,0,0-5.12,3,3,0,0,0,0-5.12A3,3,0,0,0,228,240c2-9.8,5.55-22.87,11.37-30.84,4.28-5.87,11.47-17.61,11.47-30.37a40.43,40.43,0,0,0-40.22-40.35h-0.28a40.43,40.43,0,0,0-40.22,40.35C170.09,191.59,177.28,203.33,181.56,209.2ZM210.45,268a14.19,14.19,0,0,1-12-6.61h24A14.19,14.19,0,0,1,210.45,268Zm18.71-9.67a2.06,2.06,0,0,1-2.06,2.06H193.79a2.06,2.06,0,1,1,0-4.12H227.1A2.06,2.06,0,0,1,229.16,258.3Zm0-5.12a2.06,2.06,0,0,1-2.06,2.06H193.79a2.06,2.06,0,1,1,0-4.12H227.1A2.06,2.06,0,0,1,229.16,253.19Zm0-5.12a2.06,2.06,0,0,1-2.06,2.06H193.79a2.06,2.06,0,1,1,0-4.12H227.1A2.06,2.06,0,0,1,229.16,248.07Zm0-5.12A2.06,2.06,0,0,1,227.1,245H193.79a2.06,2.06,0,1,1,0-4.12H227.1A2.06,2.06,0,0,1,229.16,243Zm-18.71-31.28a6,6,0,0,0-5.34,3.23l-8.66-25.37h28l-8.66,25.37A6,6,0,0,0,210.45,211.67Zm-5,6a5,5,0,1,1,10.06,0V239.9H205.42V217.7Zm5-78.23,0.05-.5,0,0.5h0.09a39.43,39.43,0,0,1,39.22,39.35c0,12.48-7.06,24-11.27,29.78C232.6,216.72,229,230,227,239.9h-10.5V217.7a6,6,0,0,0-.25-1.72l0.23,0.08,10.32-30.24-0.95-.32-1,3H196.11l-1-3-0.95.32,10.32,30.24,0.23-.08a6,6,0,0,0-.25,1.72V239.9h-10.5c-2-9.91-5.63-23.17-11.55-31.29-4.21-5.77-11.27-17.3-11.27-29.78A39.45,39.45,0,0,1,210.4,139.47Z" />
              </svg>
            </div>
          </div>
          <div class="content grid-item-66">
            <h2 class="editable">We build your great idea in the best way</h2>
            <p class="editable">In an industry fraught with complexity and risk, we believe our ability to collaborate, to dig in and analyze, to plan and engineer a construction solution that capitalizes on assets and mitigates, or eliminates obstacles offers a clear advantage to you.&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
    <div id="animation-experience" class="row animation">
      <div class="col-xs-12">
        <div class="grid center-grid">
          <div class="content text-center grid-item-33">
            <div class="img-wrapper">
              <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 320"><defs><style>.cls-1{fill:#231f20;}.cls-2{fill:#eee;}.cls-3{fill:#fff;}</style></defs><title>about-values</title>
                <path class="cls-1 animated fadeInUp delay1" d="M162.76,86.63a57,57,0,0,0-56.68-56.87v0.5l-0.08-.5h-0.31A57,57,0,0,0,49,86.63c0,18,10.14,34.57,16.18,42.84,8.28,11.35,13.34,30,16.16,43.88a4.09,4.09,0,0,0-.95,7.61,4.08,4.08,0,0,0,0,7.24,4.08,4.08,0,0,0,0,7.24,4.1,4.1,0,0,0,1.92,7.74H87.4a21.25,21.25,0,0,0,37,0h5.08a4.1,4.1,0,0,0,1.93-7.74,4.08,4.08,0,0,0,0-7.24,4.08,4.08,0,0,0,0-7.24,4.09,4.09,0,0,0-.95-7.61c2.82-13.91,7.87-32.54,16.16-43.88C152.62,121.19,162.76,104.62,162.76,86.63ZM105.88,212.94a20.28,20.28,0,0,1-17.32-9.77H123.2A20.28,20.28,0,0,1,105.88,212.94Zm26.68-13.88a3.12,3.12,0,0,1-3.12,3.12H82.32a3.12,3.12,0,0,1,0-6.24h47.12A3.12,3.12,0,0,1,132.56,199.05Zm0-7.24a3.12,3.12,0,0,1-3.12,3.12H82.32a3.12,3.12,0,1,1,0-6.24h47.12A3.12,3.12,0,0,1,132.56,191.82Zm0-7.24a3.12,3.12,0,0,1-3.12,3.12H82.32a3.12,3.12,0,1,1,0-6.24h47.12A3.12,3.12,0,0,1,132.56,184.58Zm0-7.24a3.12,3.12,0,0,1-3.12,3.12H82.32a3.12,3.12,0,0,1,0-6.24h47.12A3.12,3.12,0,0,1,132.56,177.34Zm-26.68-44a8.33,8.33,0,0,0-8,6l-12.2-37.74h40.37l-12.21,37.66A8.33,8.33,0,0,0,105.88,133.3Zm-7.32,8.32a7.32,7.32,0,1,1,14.64,0v31.6H98.56v-31.6Zm30.87,31.6H114.2v-31.6c0-.07,0-0.14,0-0.21l14.58-45-0.95-.32-1.44,4.44h-41l-1.43-4.44L83,96.46l14.57,45.09s0,0,0,.07v31.6H82.33c-2.84-14-7.94-32.85-16.34-44.34-6-8.18-16-24.54-16-42.25a56,56,0,0,1,55.68-55.87h0.12l0.08-.5,0.09,0.5h0.11a56,56,0,0,1,55.68,55.87c0,17.71-10,34.07-16,42.25C137.37,140.38,132.27,159.21,129.43,173.23Z" />
                <g class="animated fadeIn delay2">
                  <path class="cls-1" d="M260.2,290.25a11,11,0,0,1-1.18-.06,10.76,10.76,0,0,1-7.28-4l-43.86-53.87a10.85,10.85,0,0,1,1.63-15.24,10.87,10.87,0,0,1,15.24,1.63l43.86,53.87A10.87,10.87,0,0,1,267,287.86h0A10.73,10.73,0,0,1,260.2,290.25Zm-43.93-74.52a9.74,9.74,0,0,0-6.14,2.17,9.85,9.85,0,0,0-1.48,13.83l43.86,53.87a9.87,9.87,0,0,0,13.83,1.48h0a9.87,9.87,0,0,0,1.48-13.83L224,219.38a9.77,9.77,0,0,0-6.61-3.59A10,10,0,0,0,216.28,215.73Z" />
                  <circle class="cls-3" cx="175.67" cy="174.88" r="70.06" transform="translate(-29.72 36.11) rotate(-10.83)" />
                  <path class="cls-1" d="M175.52,245.46a70.66,70.66,0,1,1,13.4-1.28A71.32,71.32,0,0,1,175.52,245.46ZM107.35,188a69.56,69.56,0,1,0,55.25-81.39A69.1,69.1,0,0,0,107.35,188Z" />
                  <path class="cls-1" d="M223.59,146.21c-5.69,14.4-9.69,30.42-12.34,43.58H139.84c-2.64-13.07-6.6-29-12.23-43.29-0.22.37-.43,0.73-0.64,1.1,5.44,14,9.29,29.51,11.87,42.3a6,6,0,0,0-1.2,11.29,6,6,0,0,0,0,10.91,6,6,0,0,0-2.12,1.57l0.71,0.73a4.92,4.92,0,0,1,3.79-1.8h71.05a4.93,4.93,0,0,1,3.9,1.94c0.24-.24.47-0.49,0.7-0.73a6,6,0,0,0-2.22-1.71,6,6,0,0,0,0-10.91,6,6,0,0,0-1.2-11.29c2.6-12.87,6.48-28.46,12-42.57C224,147,223.81,146.58,223.59,146.21ZM216,206.65a5,5,0,0,1-5,5H140a5,5,0,0,1,0-9.91h71.05A5,5,0,0,1,216,206.65Zm0-10.91a5,5,0,0,1-5,5H140a5,5,0,0,1,0-9.91h71.05A5,5,0,0,1,216,195.74Z" />
                  <path class="cls-1" d="M148.26,223.51h54.83c0.58-.33,1.15-0.66,1.71-1H146.54C147.11,222.86,147.69,223.19,148.26,223.51Z" />
                  <path class="cls-1" d="M175.65,231.22a56.36,56.36,0,1,1,10.6-1A56.43,56.43,0,0,1,175.65,231.22Zm-54.33-45.94a55.33,55.33,0,1,0,8.57-41.47,55.39,55.39,0,0,0-8.57,41.47h0Z" />
                  <path class="cls-1" d="M164.25,190.28v-48.4a11.29,11.29,0,0,1,22.58,0v48.4h1v-48.4a12.29,12.29,0,0,0-24.58,0v48.4h1Z" />
                  <path class="cls-1" d="M193.19,121.88l-6.33,19.58,0.95,0.32,6.33-19.58Z" />
                  <path class="cls-1" d="M163.28,141.47l0.95-.32L158,121.94l-1,.31Z" />
                </g>
              </svg>
            </div>
          </div>
          <div class="content grid-item-66">
            <h2 class="editable">Experience + detailed insight</h2>
            <p class="editable">Our method combines insight and craftsmanship.<br />With over 45 years in the construction industry, our expertise is broad, varied and valuable. Experience coupled with detailed insight gained through meticulous analysis allows us to craft the comprehensive approach that is specific to your distinct requirements. We then employ creative techniques and implement rigorous processes in the field to ensure the finest quality, while always controlling your cost, schedule and risk.&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
    <div id="animation-great-idea" class="row animation">
      <div class="col-xs-12">
        <div class="grid center-grid">
          <div class="content text-center grid-item-33">
            <div class="img-wrapper">
              <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 320"><defs><style>.cls-1{fill:#231f20;}</style></defs><title>about-values</title>
                <g class="animated fadeIn delay2">
                  <rect class="cls-1" x="159.5" y="4.1" width="1" height="22.38" />
                  <rect class="cls-1" x="120.25" y="14.62" width="1" height="22.38" transform="translate(3.27 63.83) rotate(-30)" />
                  <rect class="cls-1" x="91.51" y="43.35" width="1" height="22.38" transform="translate(-1.23 106.95) rotate(-60)" />
                  <rect class="cls-1" x="70.3" y="93.3" width="22.38" height="1" />
                  <rect class="cls-1" x="188.43" y="25.31" width="22.38" height="1" transform="translate(77.4 185.73) rotate(-59.98)" />
                  <rect class="cls-1" x="217.17" y="54.04" width="22.38" height="1" transform="translate(3.35 121.57) rotate(-30.02)" />
                  <rect class="cls-1" x="227.69" y="93.3" width="22.38" height="1" />
                </g>
                <path class="cls-1 animated fadeInUp delay1" d="M213.2,94.11a53.29,53.29,0,0,0-53-53.19v0.5l-0.07-.5h-0.29a53.29,53.29,0,0,0-53,53.19c0,16.83,9.48,32.33,15.13,40.06,7.73,10.59,12.46,28,15.09,41a3.86,3.86,0,0,0-.92,7.13,3.85,3.85,0,0,0,0,6.76,3.85,3.85,0,0,0,0,6.76,3.87,3.87,0,0,0,1.87,7.26h4.73a19.89,19.89,0,0,0,34.59,0H182a3.87,3.87,0,0,0,1.87-7.26,3.85,3.85,0,0,0,0-6.76,3.85,3.85,0,0,0,0-6.76,3.86,3.86,0,0,0-.92-7.13c2.63-13,7.36-30.39,15.09-41C203.71,126.43,213.2,110.94,213.2,94.11Zm-53.2,118a18.92,18.92,0,0,1-16.13-9.06h32.27A18.92,18.92,0,0,1,160,212.14Zm24.91-12.95a2.89,2.89,0,0,1-2.88,2.88H138a2.88,2.88,0,0,1,0-5.76h44A2.89,2.89,0,0,1,184.91,199.19Zm0-6.76a2.89,2.89,0,0,1-2.88,2.88H138a2.88,2.88,0,0,1,0-5.76h44A2.89,2.89,0,0,1,184.91,192.43Zm0-6.76a2.89,2.89,0,0,1-2.88,2.88H138a2.88,2.88,0,0,1,0-5.76h44A2.89,2.89,0,0,1,184.91,185.66Zm0-6.76a2.89,2.89,0,0,1-2.88,2.88H138a2.88,2.88,0,0,1,0-5.76h44A2.89,2.89,0,0,1,184.91,178.9ZM160,137.7a7.82,7.82,0,0,0-7.23,4.86l-11.54-34.45h37.53l-11.54,34.45A7.82,7.82,0,0,0,160,137.7Zm-6.81,7.81a6.81,6.81,0,1,1,13.62,0V175H153.19v-29.5ZM182,175H167.81v-29.5a7.81,7.81,0,0,0-.1-1.22l13.72-41-0.95-.32-1.38,4.13H140.9L139.52,103l-0.95.32,13.72,41a7.8,7.8,0,0,0-.11,1.22V175H138c-2.65-13.1-7.43-30.69-15.27-41.44-5.58-7.64-14.94-22.93-14.94-39.47a52.29,52.29,0,0,1,52-52.19h0.11l0.08-.5,0.08,0.5h0.09a52.29,52.29,0,0,1,52,52.19c0,16.54-9.36,31.83-14.94,39.47C189.41,144.33,184.64,161.92,182,175Z" />
                <path class="cls-1 animated fadeIn delay2" d="M127.69,241.65h0L85.35,190.49A11.12,11.12,0,0,0,72,187.2V147.44a9.12,9.12,0,1,0-18.24,0V227.3a9.12,9.12,0,0,0,2.08,5.79l32.29,50.25,0.39,0.57h0l1,1.48c4.05,6.09,5.91,8.87,5.91,30v0.5h41.91V264.11A30.84,30.84,0,0,0,127.69,241.65Zm-0.38.31h0Zm9,72.93H96.44c0-21-1.94-23.85-6.07-30.07-0.43-.64-0.87-1.32-1.35-2.05l-0.38-.56L56.87,232.77l0,0-0.21-.25a8.12,8.12,0,0,1-1.88-5.18V147.44a8.12,8.12,0,1,1,16.24,0v40.27A11,11,0,0,0,67.8,204.1l30.37,47,0.84-.54-30.4-47.09a10.1,10.1,0,1,1,16-12.4l42.23,51h0a29.87,29.87,0,0,1,9.59,22V314.9Zm46.29-50.79V315.9h41.91v-0.5c0-21.14,1.85-23.92,5.91-30l1-1.48h0l0.39-.57,32.29-50.25a9.12,9.12,0,0,0,2.08-5.79V147.44a9.12,9.12,0,1,0-18.24,0V187.2a11.12,11.12,0,0,0-13.31,3.3L192.3,241.65h0A30.84,30.84,0,0,0,182.64,264.11Zm1,0a29.87,29.87,0,0,1,9.59-22h0l42.23-51a10.1,10.1,0,1,1,16,12.4L221,250.61l0.84,0.54,30.37-47A11,11,0,0,0,249,187.71V147.44a8.12,8.12,0,1,1,16.24,0V227.3a8.12,8.12,0,0,1-1.88,5.18l-0.21.25,0,0-31.77,49.45-0.38.56c-0.47.74-.92,1.41-1.35,2.05-4.14,6.22-6,9.08-6.07,30.07H183.64V264.11Z" />
              </svg>
            </div>
          </div>
          <div class="content grid-item-66">
            <h2 class="editable">You have a great idea &mdash;<br />We know how to build it best</h2>
            <p class="editable">Singular Care.</p>
            <p class="editable">Smart Solutions.</p>
            <p class="editable">Certain Success.</p>
            <p class="editable">Blinderman.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
