---
layout: page
title: Our Work
---
<section class="gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>Areas of Expertise</h1>
          <p class="editable">Our expertise in the construction industry is built on a foundation of delivering effective, quality results for over 45 years. We challenge ourselves to exceed expectations in every market sector we work in. We are thorough, we are systematic, we are open minded &ndash; we never guess.</p>
        </div>
      </div>
    </div>
    <hr class="hr-lg" />
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <div class="grid">
            {% for object in site.data.expertise_areas %}
            {% assign area = site.expertise_areas | where: "slug", object | first %}
            <a href="{{ area.url }}" class="card grid-item-33 blend-overlay" style="background-image: url({{ area.image }})">
              <div class="card-content">
                <h2>{{ area.title }}</h2>
                <p>{{ area.subtitle }}</p>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div> 
  </div>
</section>