---
layout: page
title: Our Services
hero_image: /uploads/united-hanger-03-03-17-043.jpg
hero_title: Our Services
hero_paragraph: Blinderman makes complex construction simple.
---

{% include hero.html %}

<section id="preconstruction" class="gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1 class="editable">Preconstruction</h1>
          <p class="editable">The method and philosophy we apply to all of our work has evolved to be much more than simply putting a price to a set of drawings. At Blinderman, we know all projects benefit from a focused, in-depth approach as early as possible in the process, and we offer a complete suite of preconstruction professional services:</p>
          <ul class="list-icon">
            <li>
              <img src="/img/services/preconstruction-01.svg" alt="Conceptual Design Review / Consultation Graphic" />
              Conceptual Design Review / Consultation
            </li>
            <li>
              <img src="/img/services/preconstruction-02.svg" alt="Conceptual Budgeting and Design Development Budget Updates Graphic" />
              Conceptual Budgeting and Design Development Budget Updates
            </li>
            <li>
              <img src="/img/services/preconstruction-03.svg" alt="Preconstruction value engineering analysis / Cost effective design suggestions graphic" />
              Value engineering analysis / Cost effective design suggestions
            </li>
            <li>
              <img src="/img/services/preconstruction-04.svg" alt="Lead Time / Schedule Analysis graphic" />
              Lead Time / Schedule Analysis
            </li>
            <li>
              <img src="/img/services/preconstruction-05.svg" alt="Exploratory Demolition graphic" />
              Exploratory Demolition
            </li>
            <li>
              <img src="/img/services/preconstruction-06.svg" alt="Construction Building Information Modeling graphic" />
              Construction Building Information Modeling
            </li>
            <li>
              <img src="/img/services/preconstruction-07.svg" alt="Constructability Review graphic" />
              Constructability Review
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="general-contracting">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1 class="editable">General Contracting</h1>
          <p class="editable">Full-time, on-site supervision, a self-performing labor force, high quality subcontractors along with avid attention to safety, cost and schedule separate a Blinderman job from the rest:</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="content">
          <h3 class="uppercase">Estimating</h3>
          <ul class="styled">
            <li><span>Progress development and evaluation</span></li>
            <li><span>Detailed ground-up estimating on every project</span></li>
            <li><span>Creative phasing and sequencing</span></li>
            <li><span>Firm fixed price, guaranteed maximum, cost plus, time and material</span></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="content">
          <h3 class="uppercase">Project Management</h3>
          <ul class="styled">
            <li><span>Tight project and cost control</span></li>
            <li><span>Quality control management</span></li>
            <li><span>Owner/contractor/subcontractor coordination</span></li>
            <li><span>Administrative and document compliance</span></li>
            <li><span>Full accounting support</span></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="content">
          <h3 class="uppercase">Field</h3>
          <ul class="styled">
            <li><span>Full-time on-site superintendence</span></li>
            <li><span>24/7/365 accountability and access</span></li>
            <li><span>Subcontractor and trade union relations</span></li>
            <li><span>Jobsite housekeeping</span></li>
            <li><span>Safety</span></li>
            <li><span>Timely close-out</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="design-build" class="gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1 class="editable">Design-Build</h1>
          <p class="editable">Collaboration, continuity, and single point accountability from concept to completion are the prime benefits of the design-build. Blinderman Construction has extensive experience using this proven delivery method &nbsp;in both the complex renovation and new construction arenas. Our design-build method centers on assembling a team of designers and technical professionals whose expertise and experience are in sync with the project-unique parameters.</p>
          <h2>Projects Highlighting Design-Build</h2>
          <hr class="hr-xs" />
        </div>
      </div>
    </div>
    <div class="row">
      {% for object in site.data.services %}
        {% if object.service == "design-build" %}
        {% for ordered in object.projects %}
          {% assign project = site.projects | where: "slug", ordered | first %}

          <div class="col-xs-12 col-md-4">
            <div class="content">
              <a href="{{ project.url }}?nav_false">
                <div class="project-image" style="background-image: url({{ project.project_images.first.project_image }})"></div>
                <!-- <img src="{{ project.project_preview_image }}" class="img-responsive" alt="{{ project.title }} image" /> -->
                <h2>{{ project.title }}</h2>
              </a>
            </div>
          </div>
        {% endfor%}  
        {% endif %}  
      {% endfor %}
    </div>
  </div>
</section>
<section id="construction-management" class="gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1 class="editable">Construction Management (CM)</h1>
          <p class="editable">Customers with the vision and desire to have a contractor/consultant heavily involved early in the design development stage to get a firm handle on budget, project cost, and local market conditions before design is completed often use the Construction Management (CM) method. Blinderman offers a full spectrum of CM services:</p>
          <div class="row">
            <div class="col-md-5">
              <ul class="styled">
                <li><span>Development of design standards and guidelines</span></li>
                <li><span>Schedule and budget evaluations</span></li>
                <li><span>Value engineering</span></li>
                <li><span>Constructability reviews</span></li>
                <li><span>Accuracy checks on cost estimates</span></li>
                <li><span>Weighing project alternatives</span></li>
              </ul>
            </div>
            <div class="col-md-7">
              <ul class="styled">
                <li><span>Monitoring and coordinating daily construction activities</span></li>
                <li><span>Inspection and construction administrative services</span></li>
                <li><span>Documentation of materials, labor and equipment used</span></li>
                <li><span>Multi-project planning logistics and coordination</span></li>
                <li><span>Development and implementation of contractor quality assurance progra</span>m</li>
                <li><span>Implementation of management information and reporting systems</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="renovation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1 class="editable">Renovation &amp; Historic Renovation</h1>
          <p class="editable">No type of job better suits our method and refined skillset than the challenges presented by a complex renovation in an operational facility. This project type requires the ability to generate a perfect confluence of construction activity – maintaining sensitivity to the design, budget and schedule requirements, while controlling the impact construction activities have on overall facility operation and safety.</p>
          <h2 class="editable">Projects Highlighting Historic Renovation</h2>
          <hr class="hr-xs" />
        </div>
      </div>
    </div>
    <div class="row">
      {% for object in site.data.services %}
        {% if object.service == "renovation" %}
        {% for ordered in object.projects %}
          {% assign project = site.projects | where: "slug", ordered | first %}
          <div class="col-xs-12 col-md-4">
            <div class="content">
              <a href="{{ project.url }}">
                <div class="project-image" style="background-image: url({{ project.project_images.first.project_image }})"></div>
                <h2>{{ project.title }}</h2>
              </a>
            </div>
          </div>
        {% endfor%}  
        {% endif %}  
      {% endfor %}
    </div>
  </div>
</section>
<section id="sustainability" class="gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1 class="editable">Sustainability</h1>
          <p class="editable">Blinderman’s commitment to sustainable construction strategies is exhibited by the number of LEED accredited professionals on our staff, and the multiple LEED Certified projects under our belt. Application of green design and construction practices maximizes building performance and durability, enhances occupant comfort and health, and minimizes negative impact to our environment.</p>
          <h2 class="editable">Projects Highlighting Sustainability</h2>
          <hr class="hr-xs" />
        </div>
      </div>
    </div>
    <div class="row">
      {% for object in site.data.services %}
        {% if object.service == "sustainability" %}
        {% for ordered in object.projects %}
          {% assign project = site.projects | where: "slug", ordered | first %}
          <div class="col-xs-12 col-md-4">
            <div class="content">
              <a href="{{ project.url }}">
                <div class="project-image" style="background-image: url({{ project.project_images.first.project_image }})"></div>
                <h2>{{ project.title }}</h2>
              </a>
            </div>
          </div>
        {% endfor%}  
        {% endif %}  
      {% endfor %}
    </div>
  </div>
</section>
<!-- <section id="safety">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="content">
          <h1 class="editable">Safety</h1>
          <p class="editable">Blinderman&rsquo;s Health &amp; Safety Program combines management commitment, active employee participation, continuing safety training, hazard identification and control, and safety program innovation. Application of our comprehensive program results in a safety plan intolerant to incidents on site, whether at the prime or subcontractor level. Blinderman routinely receives safety commendations and safety awards from customers and government agencies including the U.S. Navy, the City of Chicago, and Metra.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="content text-center">
          <img src="/img/services/safety-01.svg" alt="Rating Graphic" />
          <p class="editable">Maintaining an experience modification rating below industry average</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="virtual-building">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1 class="editable">Virtual Building</h1>
          <p class="editable">Blinderman employs Building Information Modeling (BIM) to minimize risk for our clients and simplify complex construction issues. BIM allows contractors to virtually construct a project before ever actually breaking ground in the field, making it possible for us to monitor many aspects of a building’s construction, operation, and maintenance in unprecedented detail. The valuable data inherent in virtual building models, provides many benefits both on and off the jobsite:</p>
          <ul class="styled">
            <li><span>Establishes clearer communication between owner, designer, contractor and subcontractors</span></li>
            <li><span>Allows for more in-depth planning and evaluation of multiple constructability scenarios</span></li>
            <li><span>Creates greater reliability in cost estimates</span></li>
            <li><span>Improves scheduling precision to minimize disruption to building operations and maximize on-site safety</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

