---
layout: page
title: Our Story
hero_image: /img/about/story/Office_20170303Misc14.jpg
hero_title: Our Story
hero_paragraph: >-
  At every step along the way, we care – truly care – about your success,
  business and dream. After all, it's our name on the door.
---

{% include hero.html %}

<section class="gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1 class="editable">A Family Business</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="content">
          <p class="editable">The Blinderman story begins with a story David and Steve love to tell &ndash; how way back in 1972 their Dad, Leonard Blinderman, laid claim to the family ping-pong table in the name of Enterprise, and he created Blinderman Construction. Their basement became the "main office" and from that point on it was all business on that ping-pong table. With intense drive and dedication, Leonard built and grew a very successful general contracting business to pass along to his sons in 2006 &ndash; sons who had grown up alongside &nbsp;Blinderman Construction.<br /><br />As a second-generation family business, we know exactly where we came from, who we are, how we got here, and where we are going. We understand that the people we work with are what makes Blinderman Construction hum, and have created a culture to attract likeminded professionals into our fold. And though we have evolved considerably over our 45 years of existence, the same enthusiasm and commitment to excellence that was there at the beginning is with us now.<u></u><u></u> <u></u>&nbsp;<u></u><br /><br />We are Accountable &ndash;<br />We take responsibility. Our commitments are always carried through to completion.<u></u><u></u> <u></u>&nbsp;<br /><u></u><br />We are Urgent &ndash;<br />We are always acting on shifting priorities.<u></u><u></u> <u></u>&nbsp;<u></u><br /><br />We are Enterprising &ndash;<br />We do not hesitate to take initiative in the face of difficult situations or unchartered opportunity.<u></u><u></u> <u></u>&nbsp;<br /><u></u><br />We are Innovative &ndash;<br />We are relentless in searching for and embracing new, creative solutions, methods, procedures and philosophies.<u></u><u></u> <u></u>&nbsp;<br /><u></u><br />We are Talent-Centric &nbsp;&ndash;<br />Questing minds and innovative spirits are our company&rsquo;s most valued &nbsp;resources.<u></u><u></u> <u></u>&nbsp;</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <img src="/img/about/story/Leonard-Blinderman-corrected.jpg" class="img-responsive" alt="Leonard Blinderman Image" />
          <p><em>David, Steve and Leonard Blinderman</em></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1 class="editable">Be the Best, Make an Impact</h1>
          <p class="editable">This is our core purpose.&nbsp;<br />​It defines who we are and what we do each and every day. Our core purpose reflects not only our driving need to be the best at everything we do, but also our enduring desire to make a positive impact on the lives of our customers, our partners, our staff, and our community.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="content">
          <img src="/img/about/story/01-craftsmanship.svg" class="img-responsive" alt="Craftsmanship Icon" />
          <h2 class="editable">Craftsmanship</h2>
          <p class="editable">We gain superior results &nbsp;through skill, care and knowledge.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <img src="/img/about/story/02-partnership.svg" class="img-responsive" alt="Partnership Icon" />
          <h2 class="editable">Partnership</h2>
          <p class="editable">We understand the value of partnering, and work hard to cultivate rewarding relationships.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <img src="/img/about/story/03-integrity.svg" class="img-responsive" alt="Integrity Icon" />
          <h2 class="editable">Integrity</h2>
          <p class="editable">We are honest, respectful and fair.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="content editable">
          <p>Our core values are the essence of who we are at heart as a company. They are fundamental and provide focus, reason and guidance for all that we do.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1 class="editable">The Story Continues</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="content">
          <p class="editable">Blinderman Construction is continually evolving and growing and always moving forward with new services, new markets, and new technologies to realize our customer&rsquo;s ultimate vision.<br /><br />Though time, opportunity, and changing technology are forever expanding our worldview, our objective has always remained the same &mdash;<br />to provide singular care, smart solutions and certain success every step of the way.</p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="content">
          <img src="/img/about/story/Office_20170303Misc34.jpg" class="img-responsive" alt="Office Image" />
        </div>
      </div>
    </div>
  </div>
</section>