---
layout: page
title: Blinderman Plan Room

---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content editable">
          <p><strong>Bid Opportunities</strong><br />The Plan Room, powered by <a data-cms-editor-link-style="undefined" target="_blank" href="https://www.buildingconnected.com/">BuildingConnected</a>, is an online service for subcontractors and suppliers to access plans and specifications &nbsp;on upcoming bid opportunities.<br />&nbsp;</p>
          <p><a class="btn btn-primary" data-cms-editor-link-style="undefined" target="_blank" href="https://app.buildingconnected.com/public/57da8e4de9bad00a00d05d11">PLAN ROOM</a></p>
          <p>&nbsp;</p>
          <p><strong>Prequalification</strong><br />If you are a subcontractor or a supplier interested in working together with Blinderman on future projects, please complete our Prequalification Form to receive advance notice on upcoming bid opportunities.</p>
          <p>Blinderman Construction supports and encourages small disadvantaged businesses, women-owned small businesses, veteran-owned small businesses, minority-owned businesses and small businesses located in historically underutilized business zones to apply for prequalification.</p>
          <p>&nbsp;</p>
          <p><a class="btn btn-primary" data-cms-editor-link-style="undefined" target="_blank" href="https://app.buildingconnected.com/public/qm/57da8e4de9bad00a00d05d11">PREQUALIFICATION</a></p>
          <p>&nbsp;</p>
          <p><strong>Questions?</strong><br />Looking for more specific project information not listed here? Please contact:</p>
          <p>Natalie House, Marketing Coordinator<br /><a data-cms-editor-link-style="undefined" href="mailto:precon@blinderman.com?subject=Prequalifcation%20Inquiry">precon@blinderman.com</a><br />312.982.2586</p>
        </div>
      </div>
    </div>
  </div>
</section>
