---
layout: default
---
<ul>
  {% for project in site.projects %}
    <li>
      <p>
        <a href="{{ project.url }}">
          <h1>{{ project.title }}</h1>
          <h2>{{ project.type }}</h2>
        </a>
      </p>
    </li>
  {% endfor %}
</ul>