---
layout: default
title: Social Responsibility
hero_image: /uploads/blinderman-1.jpg
hero_title: Our Commitment
hero_paragraph: >-
  At Blinderman, we believe we can – and should – make a positive impact on the
  communities we serve. One person, one project, and one initiative at a time.
beneficiaries:
  - name: InSTEM
    description_html: >-
      <p><small>inSTEM (inspiring STEM in Middle-School Girls) is an all
      encompassing program that combines STEM, mentorship, leadership, and
      empowerment by nurturing and creating the next generation of women in
      STEM.</small></p>
    link: 'http://www.instematdpu.com/'
    logo_image: /img/social-responsibility/instem-color.png
  - name: YouthBuild
    description_html: >-
      <p><small>YouthBuild serves as a catalyst of change that promotes the
      talents and energy of low-income and underserved young people (ages 16-24)
      to transform their lives by reclaiming their education, engaging in adult
      responsibility, and giving back to their communities.</small></p>
    link: 'http://youthbuildlakecounty.org/'
    logo_image: /img/social-responsibility/youthbuild-color.png
carousel_images:
  - image: /uploads/fulton-carousel1.jpg
  - image: /uploads/same-2018-5.jpg
  - image: /uploads/littleleague.jpg
---

{% include hero.html %}
<section id="better-futures">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <div class="editable">
            <h1>Building Communities for Better Futures</h1>
            <p>At Blinderman, serving our community is not only integral to running our business successfully, it is part of our individual responsibility as citizens of Chicago, and the world. Our main social responsibility initiatives are inspired by and reflect our industry, what we do, and the people we work together with day-in and day-out:</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for b in page.beneficiaries %}
      <div class="col-md-6">
        <div class="content">
          <div class="logo-container">
            <a href="{{ b.link }}"><img src="{{ b.logo_image | relative_url }}" class="img-responsive" alt="{{ b.name }} logo" /></a>
          </div>
          {{ b.description_html }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<div id="event-details">
  {% include carousel-images.html %}
  {% assign events = site.events | sort: 'event_date' %}
  {% assign event = events | last %}
  {% include event_details.html %}
</div>

<section id="latest-news">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>Latest News</h1>
          <hr class="hr-gray" />
        </div>
      </div>
    </div>
    {% for post in site.categories.Events limit: 1 %}
    <div class="row">
      <div class="col-md-4">
        <div class="content">
          <img src="{{ post.image }}" class="img-responsive" alt="{{ post.title }} Image" />
        </div>
      </div>
      <div class="col-md-8">
        <div class="content">
          <h1>{{ post.title }}</h1>
          {{ post.content | truncatewords: 50 }}
          <a href="{{ post.url }}" class="read-more">Read More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% if site.events.size > 1 %}
{% assign sorted = (site.events | sort: 'event_date') | reverse %}
<section id="archived-events" class="gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content editable">
          <h2>Past Events</h2>
        </div>
      </div>
    </div>
    <div class="grid center-grid">
      {% for event in sorted offset: 1 %}
      <div class="grid-item-33">
        <a href="{{ event.url }}">
          <img class="img-responsive" src="{{ event.poster_image }}" alt="{{ event.title }}" style="height: 300px;" />
          <h5 class="card-title"><strong>{{ event.title }}</strong><br />{{ event.event_date | date: '%B %Y'}}</h5>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% include community-events.html %}

