---
layout: page
title: Who We Are
hero_image: /uploads/whoweare-hero3.jpg
hero_title: Who We Are
hero_paragraph: Get to know our talented team.
---
{% include hero.html %}
<section id="leadership" class="gray-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>Leadership</h1>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="content">
          <div class="grid team-grid">
            {% for object in site.data.staff %}
              {% if object.name == "leadership" %}
              {% for ordered in object.staff %}
              {% assign staff = site.staff | where: "slug", ordered | first %}
              
              <div class="grid-item-33">
                <a href="{{ staff.url }}" class="bio-image">
                  {% if staff.professional_image %}
                    <img src="{{ staff.professional_image }}" class="img-responsive" alt="{{ staff.name }} image">
                  {% else %}
                    <img src="http://placehold.it/750x750?text=Professional+Image" class="img-responsive" alt="placeholder image">
                  {% endif %}
                </a>
                <a href="{{ staff.url }}" class="bio-details">
                  <h2>{{ staff.name }}</h2>
                  <h5 class="uppercase">{{ staff.job_title}}</h5>
                </a>
              </div>
              {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div id="administration" class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>Administrative Support</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <div class="grid team-grid">
            {% for object in site.data.staff %}
              {% if object.name == "administration" %}
              {% for ordered in object.staff %}
              {% assign staff = site.staff | where: "slug", ordered | first %}
              <div class="grid-item-25">
                <a href="{{ staff.url }}" class="bio-image">
                  {% if staff.professional_image %}
                    <img src="{{ staff.professional_image }}" class="img-responsive" alt="{{ staff.name }} image">
                  {% endif %}
                </a>
                <a href="{{ staff.url }}" class="bio-details">
                  <h2>{{ staff.name }}</h2>
                  <h5 class="uppercase">{{ staff.job_title}}</h5>
                </a>
              </div>
              {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div id="preconstruction" class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>Preconstruction</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <div class="grid team-grid">
            {% for object in site.data.staff %}
              {% if object.name == "preconstruction" %}
              {% for ordered in object.staff %}
              {% assign staff = site.staff | where: "slug", ordered | first %}
              <div class="grid-item-25">
                <a href="{{ staff.url }}" class="bio-image">
                  {% if staff.professional_image %}
                    <img src="{{ staff.professional_image }}" class="img-responsive" alt="{{ staff.name }} image">
                  {% endif %}
                </a>
                <a href="{{ staff.url }}" class="bio-details">
                  <h2>{{ staff.name }}</h2>
                  <h5 class="uppercase">{{ staff.job_title}}</h5>
                </a>
              </div>
              {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div id="project-team" class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>Project Team</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <div class="grid team-grid">
            {% for object in site.data.staff %}
              {% if object.name == "project team" %}
              {% for ordered in object.staff %}
              {% assign staff = site.staff | where: "slug", ordered | first %}
              <div class="grid-item-25">
                <a href="{{ staff.url }}" class="bio-image">
                  {% if staff.professional_image %}
                    <img src="{{ staff.professional_image }}" class="img-responsive" alt="{{ staff.name }} image">
                  {% else %}
                    <img src="http://placehold.it/750x750?text=Professional+Image" class="img-responsive" alt="placeholder image">
                  {% endif %}
                </a>
                <a href="{{ staff.url }}" class="bio-details">
                  <h2>{{ staff.name }}</h2>
                  <h5 class="uppercase">{{ staff.job_title}}</h5>
                </a>
              </div>
              {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div id="concrete-division" class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>Concrete Division</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <div class="grid team-grid">
            {% for object in site.data.staff %}
              {% if object.name == "concrete division" %}
              {% for ordered in object.staff %}
              {% assign staff = site.staff | where: "slug", ordered | first %}
              <div class="grid-item-25">
                <a href="{{ staff.url }}" class="bio-image">
                  {% if staff.professional_image %}
                    <img src="{{ staff.professional_image }}" class="img-responsive" alt="{{ staff.name }} image">
                  {% endif %}
                </a>
                <a href="{{ staff.url }}" class="bio-details">
                  <h2>{{ staff.name }}</h2>
                  <h5 class="uppercase">{{ staff.job_title}}</h5>
                </a>
              </div>
              {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>


  </div>
</section>